<link href="https://fonts.cdnfonts.com/css/adelle?styles=20524" rel="stylesheet">

<style>
                            @import url('https://fonts.cdnfonts.com/css/adelle?styles=20524');
</style>


<style>
.govuk-width-container {
  margin-left:0px;
  margin-right:0px;
  max-width:100%;
}

@media (min-width: 768px)
.beta-banner {
    padding-right: 40px;
    padding-left: 113px;
}

@media (min-width: 680px)
.beta-banner {
    padding-right: 40px;
    padding-left: 60px;
}
.beta-banner {
    background-color: #d6e8f2;
    padding: 5px 20px 5px 20px;
}

.govuk-template__body {
  background-color: #f3f3f3;
}

.govuk-main-wrapper {
  padding:0px;
}
@media (min-width: 40.0625em) {
.govuk-main-wrapper {
  padding-bottom:0px;
}
}
.introduction-page {
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 50px 36px;
}
.introduction-page {
    width: calc(100% - 144px);
}
.introduction-page {
    max-width: 780px;
    margin: 0 auto;
    background: #fff;
    margin-bottom:50px
}
.dash-element {
    padding: 20px 20px;
}

.dash-element-left {
  margin:30px 30px 0px 30px;
}

body {font-family: 'adelleregularwebfont';}
</style>


<div id="header">
    <img src="public/images/career-site-header.png" style="max-width:100%">
</div>
