{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}

.govuk-summary-card__title
{
  font-size:1.5rem;
}

.govuk-button--card
{
  background-color:#000000;
  margin-bottom:10px;
}
</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl" style="margin-bottom:30px">Adjustments and support</h1>
  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

{% if data['ra-info']=='hide'%}
<p class="govuk-body" style="margin-bottom:40px"><a class="govuk-link" href="adjustments-support-home-saved?ra-info=show">Show information</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
{% endif %}

{% if data['ra-info']!='hide'%}

    <p class="govuk-body">As an inclusive Civil Service, we want to make sure that our application process is fair to everyone.</p>
    <p class="govuk-body"><strong>If you feel there are reasonable adjustments to the application process that the recruitment team could make, tell us below.</strong></p>

    <p class="govuk-body">Examples of reasonable adjustments include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>providing interview questions before the actual interview</li>
        <li>letting you have more time to complete tests or assessments</li>
        <li>giving you an accessible interview room if you are on crutches or recovering from an operation</li>

      </ul>

    <div class="govuk-inset-text">This is not an exhaustive list and we will consider any adjustments or support that you ask for.</div>

    <p class="govuk-body"><strong>You can also tell us if there's some information that you think might be useful for us to know.</strong> For example, you could tell us if you do not like to make eye contact with a person who's interviewing you and we would pass this information on to the person doing the interview.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Who will see my adjustments and support?
        </span>
      </summary>
      <div class="govuk-details__text">
        Only the recruitment team handling your application will see this information.<br><br>The recruitment team includes the civil servants who decide if you should be invited to an interview, and the civil servants who actually interview you.<br><br>They will only see the adjustment or support you've mentioned at the relevant time. For example, if you have an adjustment for an interview, the recruitment team will not see this information until you are invited to an interview.
      </div>
    </details>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
         
        Telling us about any adjustments or support does not affect how we assess your application in any way. You will not be penalised for asking for support or an adjustment.
      </strong>
    </div><br>



    <p class="govuk-body" style="margin-bottom:40px"><a class="govuk-link" href="adjustments-support-home-blank?ra-info=hide">Hide this information from now on</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

{% endif %}



    <h2 class="govuk-heading-l" style="margin-bottom:30px" id="your-adjustments">Your adjustments and support</h2>



    <p class="govuk-body">Tell us below about any support or adjustments we could make for online tests.</p>


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">



<div class="govuk-summary-card" id="online-tests">
  {% if data ['ra-for-tests-detail']%}
  <div class="govuk-summary-card__title-wrapper" style="background-color:#a7d5f6">
  {% else %}
  <div class="govuk-summary-card__title-wrapper">
  {% endif %}
    <h2 class="govuk-summary-card__title">Doing online tests</h2>
    <ul class="govuk-summary-card__actions">
      <form action="adjustments-support-home-tests-saved" method="post" novalidate>
      <button class="govuk-button govuk-button--card" data-module="govuk-button">
        Save
      </button>
    </ul>
</div>
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
    </div>
    <div class="govuk-notification-banner__content">

    <p class="govuk-body">Adjustments and support for 'Doing online tests' has been saved.<br><br>The information has been passed to the recruitment team and they will contact you within 2 working days.</p>
    </div>
    </div>
    <div class="govuk-form-group">
        <p class="govuk-body">Describe any adjustments or support below. For example, if you want more time to do the test.<br><br>Leave it blank if you do not want an adjustment or support for online tests.
        </p>
        <textarea class="govuk-textarea" id="ra-comms-detail" name="ra-for-tests-detail" rows="8" aria-describedby="more-detail-hint">{{ data['ra-for-tests-detail'] }}</textarea>
        <a href="#" aria-describedby="list-convictions-status">
          Clear all text
        </a>

      </div>
  </div></form>
</dl></div></div><br><br>


<form action="online-tests?ra-tests=yes" method="post" novalidate>
<button class="govuk-button" data-module="govuk-button">
  Back to online tests page
</button>
</form>
    </div>
  </div>


  {% endblock %}
