{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}
</style>

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

{% if data['file'] | length > 1 %}
{% set cvurl = "cv-existing" %}
{% elif data['file-upload-1'] | length > 1 %}
{% set cvurl = "cv-uploaded" %}
{% else %}
{% set cvurl = "cv" %}
{% endif %}


{% if data['dept'] == "Department for Education" %}
<img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right;padding-right:60px" alt="Department for Education logo">
{% elif data['dept'] == "Home Office" %}
<img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right;padding-right:60px" alt="Home Office logo">
{% else %}
<img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right;padding-right:60px" alt="Cabinet Office logo">
{% endif %}

{% if data['searchwhat'] %}
  {% set Job = data['searchwhat'] %}
{% else %}
  {% set Job = 'Delivery Manager' %}
{% endif %}

{% if data['dept'] %}
  {% set Dept = data['dept'] %}
{% else %}
  {% set Dept = 'DWP' %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="padding-right:10px">

    <h1 class="govuk-heading-xl" style="margin-bottom:10px">Your application for {{Job}}</h1>
    <p class="govuk-body" style="padding-left:5px"><a href="job-ad-full">View the job advert</a></p><br>




    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Applications must be submitted before 11:55 PM on 22nd July 2023.
      </strong>
    </div>



    </div>

    <div class="govuk-grid-column-one-quarter" style="padding-left:20px">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="padding-right:50px;">



      <ol class="govuk-prototype-kit-task-list" >
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-bottom-width:5px;margin-top:0px;margin-bottom:0px">

        <li>


          <div class="govuk-inset-text" style="border-left-color:#d4351c">
            You must pass an online Judgement test before you can start any of the other sections below.
          </div>

          <p class="govuk-body">You can <a href="">practice for this test</a> before taking it.</p><br>
          <form action="online-tests" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          </form>
        </li>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style="border-bottom-width:5px; margin-top:0px;margin-bottom:0px">
        <br><br>


        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            Assessments
          </h2>
          <div class="govuk-inset-text">
            You must pass the online Judgement test above before you can start these sections.
          </div>
          <p class="govuk-body govuk-!-margin-left-6">For help on the assessments, you can use the articles:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-6">
            <li><a href="#">how to answer behaviour questions</a></li>
            <li><a href="#">Success profile guidance</a></li>
          </ul>
            <br><br>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">

              <span class="govuk-prototype-kit-task-list__task-name">
                {% if data['pass'] == "true"  %}
                <a href="cv-choice" aria-describedby="list-convictions-status">
                  CV
                </a>
                {% else%}
                  CV
                {% endif %}
              </span>

              {% if data['cv'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">

                {% if data['pass'] == "true"  %}
                <a href="personal-statement" aria-describedby="list-convictions-status">
                  Personal statement
                </a>
                {% else %}
                  Personal statement
                {% endif %}

              </span>

              {% if data['ps'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% elif data['cv'] == "true" %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                {% if data['pass'] == "true"  %}
                <a href="behaviour-questions" aria-describedby="list-convictions-status">
                  Behaviour questions
                </a>
                {% else%}
                  Behaviour questions
                {% endif %}
              </span>


              {% if data['behaviour-pass'] == "true" %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                {% if data['pass'] == "true"  %}
                <a href="technical-skills" aria-describedby="list-convictions-status">
                  Technical skills
                </a>
                {% else %}
                  Technical skills
                {% endif %}

              </span>
              {% if data['tech-skills-pass'] == "true" %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            Personal details
          </h2>
          <div class="govuk-inset-text">
            You must pass the online Judgement test above before you can start these sections.
          </div>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                {% if data['pass'] == "true"  %}
                <a href="personal-info" aria-describedby="list-convictions-status">
                  Personal information
                </a>
                {% else%}
                  Personal information
                {% endif %}
              </span>
              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                {% if data['pass'] == "true"  %}
                <a href="preferences" aria-describedby="list-convictions-status">
                  Work preferences
                </a>
                {% else%}
                  Work preferences
                {% endif %}
              </span>

              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>

  </div>


  {% endblock %}
