{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}

.hint-text-black{
  color:#000000;
  padding:10px 0px;
}
</style>

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>

{% if data['searchwhat'] %}
  {% set Job = data['searchwhat'] %}
{% else %}
  {% set Job = 'Delivery Manager' %}
{% endif %}

{% if data['dept'] %}
  {% set Dept = data['dept'] %}
{% else %}
  {% set Dept = 'DWP' %}
{% endif %}

  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      <form action="task-list?skip=true" method="post" novalidate>
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{Job}}</strong> {{Dept}}</span><br><br>
        <h1 class="govuk-heading-l">Social mobility</h1><br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What was the occupation of your main household earner when you were about aged 14?
              </h2>
            </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Modern professional & traditional professional occupations such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    teacher, nurse, physiotherapist, social worker, musician, police officer (sergeant or above), software designer, accountant, solicitor, medical practitioner, scientist, civil / mechanical engineer.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Senior, middle or junior managers or administrators such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    finance manager, chief executive, large business owner, office manager, retail manager, bank manager, restaurant manager, warehouse manager.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Clerical and intermediate occupations such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    secretary, personal assistant, call centre agent, clerical worker, nursery nurse.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Technical and craft occupations such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    motor mechanic, plumber, printer, electrician, gardener, train driver.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Routine, semi-routine manual and service occupations such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    postal worker, machine operative, security guard, caretaker, farm worker, catering assistant, sales assistant, HGV driver, cleaner, porter, packer, labourer, waiter/waitress, bar staff.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Long-term unemployed
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    (claimed Jobseeker’s Allowance or earlier unemployment benefit for more than a year).
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Small business owners who employed less than 25 people such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    corner shop owners, small plumbing companies, retail shop owner, single restaurant or cafe owner, taxi owner, garage owner.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                  <label class="govuk-label govuk-radios__label" for="signIn">
                    Other such as:
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    retired, this question does not apply to me, I don’t know.
                  </div>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="prefer-not-to-answer">
                  <label class="govuk-label govuk-radios__label" for="changedName-3">
                    Prefer not to answer
                  </label>
                </div>
            </div>
          </fieldset>
        </div><br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Which type of school did you attend for the most time between the ages of 11 and 16?
              </h2>
            </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  A state-run or state-funded school
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Independent or fee-paying school
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Independent or fee-paying school, where I received a means tested bursary covering 90% or more of the total cost of attending throughout my time there
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Attended school outside the UK
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  I don't know
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="prefer-not-to-answer">
                <label class="govuk-label govuk-radios__label" for="changedName-3">
                  Prefer not to answer
                </label>
              </div>
            </div>
          </fieldset>
        </div><br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                If you finished school after 1980, were you eligible for free school meals at any point during your school years?
              </h2>
            </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changedName">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Not applicable (finished school before 1980 or went to school overseas)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changedName-2">
                  Prefer not to answer
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="prefer-not-to-answer">
                <label class="govuk-label govuk-radios__label" for="changedName-3">
                  Prefer not to answer
                </label>
              </div>
            </div>
          </fieldset>
        </div><br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is your current postcode?
              </h2>
            </legend>
            <div class="govuk-form-group">
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width4" type="text">
            </div>
          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Submit</button><br>

      </div>
    </div>











  </form>
  {% endblock %}
