{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}

.hint-text-black{
  color:#000000;
  padding:10px 0px;
}
</style>

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>

{% if data['searchwhat'] %}
  {% set Job = data['searchwhat'] %}
{% else %}
  {% set Job = 'Delivery Manager' %}
{% endif %}

{% if data['dept'] %}
  {% set Dept = data['dept'] %}
{% else %}
  {% set Dept = 'DWP' %}
{% endif %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
      <form action="socio-econ-questionnaire" method="post" novalidate>

        <h1 class="govuk-heading-l">Thank you</h1>

        <p class="govuk-body" style="max-width:100%">We have saved your responses in your <a href="../portal-reasonable-adjustments">user account</a>. You can reuse them if you apply for another Civil Service job.</p>

        <div class="govuk-inset-text">
          None of the responses you have provided will be visible when your application is assessed.
        </div>

        <h2 class="govuk-heading-m">Your options</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="../portal-reasonable-adjustments">Go to my job dashboard</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Search for another job</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Close this window</a>
          </li>
        </ul>



      </div>
    </div>











  </form>
  {% endblock %}
