{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "previous-versions/portal-v1/includes/header-csj-career-site-style.html" %}
{% include "previous-versions/portal-v1/includes/header-sign-in-csj-career-site-style.html" %}
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <img src="../../public/images/career-site-1.png" style="max-width:100%;">
      <img src="../../public/images/career-site-2.png" style="max-width:100%;">
      <img src="../../public/images/career-site-3.png" style="max-width:100%;">
      </div>




    <img src="../../public/images/career-site-social-media.png" style="max-width:100%; padding-bottom:20px">



  <div id="footer">
      <img src="../../public/images/career-site-footer.png" style="max-width:100%; ">
  </div>

{% endblock %}
