{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "previous-versions/portal-v1/includes/header-csj-career-site-style.html" %}
{% include "previous-versions/portal-v1/includes/header-apply-csj-career-site-style.html" %}
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="introduction-page dash-element dash-element-left" style="max-width:100%">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#1a81d966">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your log-in details</h2>
          </div>



          <dl class="govuk-summary-list" style="width:80%;margin-bottom:0px">
            <div class="govuk-summary-list__row" style="font-family: 'Adelle';width:80%;border-bottom:none">
              <dd class="govuk-summary-list__value" style="font-weight:bold;width:10%;padding-left:20px">
                Email
              </dd>
              <dd class="govuk-summary-list__value" style="width:25%">
                lsmith@yahoo.com
              </dd>
              <dd class="govuk-summary-list__actions" style="text-align:left">
                <a class="govuk-link" href="#" style="font-family: 'Adelle';width:5%;">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
              <dd class="govuk-summary-list__value" style="font-weight:bold;width:15%;padding-right:0px">
                Password
              </dd>
              <dd class="govuk-summary-list__value" style="width:15%;padding-right:0px">
                *********
              </dd>
              <dd class="govuk-summary-list__actions" style="text-align:left">
                <a class="govuk-link" href="#" style="font-family: 'Adelle'">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          </dl>


      </div>
        </div>

      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper"  style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your applications</h2>
            </div>

            <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; width:30%"">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';font-weight:bold;font-size:25px">Delivery Manager - DWP</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';font-size: 1.1875rem;">Set up alerts for jobs like this</a>
                </dd>
              </div>

            </dl>
              <br><br>

            <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:30px; font-size: 1.1875rem;">See previous applications</a><br>
        </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Saved jobs</h2>
            </div>
            <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; width:30%"">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">Digital Delivery Manager - HMRC</a>
                </dd>
                <dd class="govuk-summary-list__actions"style="font-family: 'Adelle';">
                  Closes 19 May 2023
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; width:30%"">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">Service Designer - DWP</a>
                </dd>
                <dd class="govuk-summary-list__actions"style="font-family: 'Adelle';">
                  Closes 30 May 2023
                </dd>
              </div>
              <div class="govuk-summary-list__row" style="border-bottom:none">
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; width:30%"">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">Technical Architect - Dept for Education</a>
                </dd>
                <dd class="govuk-summary-list__actions"style="font-family: 'Adelle';">
                  Closes 8 July 2023
                </dd>
              </div>

            </dl>
        </div>
        </div>

    </div><br>


        <div class="govuk-grid-row">


        <div class="govuk-grid-column-one-half">

          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your details</h2>
            </div>
            <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
            <div class="govuk-summary-list__row"style="font-family: 'Adelle'; ">
              <dt class="govuk-summary-list__key" style="width:40%">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                Deborah Lisa Smith
              </dd>

            </div>
            <div class="govuk-summary-list__row"style="font-family: 'Adelle'">
              <dt class="govuk-summary-list__key">
                Preferred name
              </dt>
              <dd class="govuk-summary-list__value">
                Lisa Smith
              </dd>

            </div>
            <div class="govuk-summary-list__row"style="font-family: 'Adelle'">
              <dt class="govuk-summary-list__key">
                Nationality
              </dt>
              <dd class="govuk-summary-list__value">
                British
              </dd>

            </div>
            <div class="govuk-summary-list__row"style="font-family: 'Adelle'">
              <dt class="govuk-summary-list__key">
                Refer to me as
              </dt>
              <dd class="govuk-summary-list__value">
                She / Her
              </dd>

            </div>
            <div class="govuk-summary-list__row"style="font-family: 'Adelle'">
              <dt class="govuk-summary-list__key">
                Contact me
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body"style="font-family: 'Adelle'">By email</p>
                <p class="govuk-body"style="font-family: 'Adelle'">lsmith@yahoo.com</p>
              </dd>

            </div>
            <div class="govuk-summary-list__row" style="border-bottom:none;font-family: 'Adelle'">
              <dt class="govuk-summary-list__key">
                I'm already a Civil Servant
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>

            </div>
          </dl>
          <br><br>

        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:30px; font-size: 1.1875rem;">Change details</a><br>
        </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="introduction-page dash-element dash-element-left">
            <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
              <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Messages <span id="notifications" class="moj-notification-badge">3</span></h2>
            </div>


            <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="font-family: 'Adelle'; max-width:20%">
                  15 May 2023
                </dt>
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; font-weight:700">
                  Set up job alerts for jobs like 'Delivery manager - DWP'
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">
                    Read<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="font-family: 'Adelle'; max-width:20%">
                  15 May 2023
                </dt>
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; font-weight:700">
                  You can reuse some info from your last application in future applications
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">
                    Read<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="font-family: 'Adelle'; max-width:20%">
                  15 May 2023
                </dt>
                <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; font-weight:700">
                  Your application for 'Delivery Manager - DWP' - what happens next
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#" style="font-family: 'Adelle';">
                    Read<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>

            </dl>
            <br><br>

            <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:30px; font-size: 1.1875rem;">See previous messages</a><br>

        </div>
        </div>

  </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dash-element-left" style="margin-right:70px">






    <div class="govuk-grid-row">
  <h1 class="govuk-summary-card__title dash-element dash-element-left" style="font-family: 'Adelle';font-size:30px">Options</h1>
      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Job alerts</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
        <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
          <li>set up alerts for the kind of jobs you're interested in</li>
          <li>tell us how you want to be alerted</li>
          <li>decide when we should alert you</li>
        </ul>
        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Start</a>
      </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Reuse your information</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
        <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
          <li>tell us information - like your right to work, or any reasonable adjustments you might need</li>
          <li>reuse the information in every application, so you don't need to enter it every time</li>
        </ul>
        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Join our talent pool</a>
      </div>
      </div>

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Join our talent pool</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
        <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
          <li>let us contact you if we find jobs we think you'd be a good fit for</li>

        </ul>
        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Join our talent pool</a>
      </div>
      </div>
    </div>


    <img src="../../public/images/career-site-social-media.png" style="max-width:100%; padding-bottom:20px">



  <div id="footer">
      <img src="../../public/images/career-site-footer.png" style="max-width:100%; ">
  </div>

{% endblock %}
