{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h2 class="govuk-heading-l">Careers site</h2>


<p class="govuk-body">
      <a onclick="window.open('career-site-a', '_blank', 'location=yes,height=900,width=1315,left=960, top=50,scrollbars=yes,status=yes');">
      Version A
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-b', '_blank', 'location=yes,height=900,width=1315,scrollbars=yes,status=yes');">
      Version B
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-C', '_blank', 'location=yes,height=900,width=1315,scrollbars=yes,status=yes');">
      Version C
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-d', '_blank', 'location=yes,height=900,width=1315,scrollbars=yes,status=yes');">
      Version D
      </a>
</p>




  </div>
</div>

{% endblock %}
