{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h2 class="govuk-heading-l">Careers site testing</h2>


<p class="govuk-body">
      <a onclick="window.open('career-site-a');">
      Version A
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-b');">
      Version B
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-c');">
      Version C
      </a>
</p>

<p class="govuk-body">
      <a onclick="window.open('career-site-d');">
      Version D
      </a>
</p>




  </div>
</div>

{% endblock %}
