{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/header-csj-career-site-style.html" %}

{% endblock %}

{% block content %}

<style>

  .logo {
    float:left;
  }

  .moj-sub-navigation {
    margin-bottom:0px;
    width:1080px;
    float:left;
  }

  .moj-sub-navigation__list {
    box-shadow:none;
    text-align:right;
  }

  .govuk-template__body {
    background-color:#ffffff;
  }

  .moj-search {
    float:left;
    padding-top:5px
  }

  .moj-sub-navigation {
    width:1200px;
  }
  .moj-sub-navigation__link:link, .moj-sub-navigation__link:visited {
    color: #0b0c0c;
  }

  .moj-sub-navigation__link[aria-current=page]:before {
    background-color:#ffffff;
  }

  .moj-sub-navigation__link:hover {
    color:#097BD3;
    text-decoration:underline;
    text-decoration-thickness: 3px;
  }

  .gem-c-search__submit {
    background-color:#ffffff;
  }

  .gem-c-search__icon{
    color:#000000;
  }

  .search-label-hidden{
    visibility:hidden;
  }

  .search-float{
    float:right;
  }


</style>

<div style="max-width:1460px;margin:auto">

  <img src="public/images/csc-logo.png" class="logo">
  <nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="#1">Departments</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#2">Professions</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#3"><span class="megamenu-submenu__chevron" tabindex="-1"> <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="o-icon o-icon--chevron ">
    <path d="M1 1L7 7L13 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
  </span>Life in the Civil Service</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#3"><span class="megamenu-submenu__chevron" tabindex="-1"> <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="o-icon o-icon--chevron ">
    <path d="M1 1L7 7L13 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
  </span>Entry routes</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="#3"><span class="megamenu-submenu__chevron" tabindex="-1"> <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="o-icon o-icon--chevron ">
    <path d="M1 1L7 7L13 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
  </span>Application Guidance</a>
    </li>
  </ul>

</nav>






<div class="govuk-grid-row" style="clear:both;background-color:#DEE0E2;max-width:1460px">
<div class="govuk-grid-column-three-quarters" style="min-height:100px;max-height:160px;padding-left:35px">



    <div class="govuk-form-group">

    <label class="govuk-label govuk-label--l search-label-hidden" for="event-name" style="margin-bottom:5px">
      Search for a job
    </label>

  <input class="govuk-input govuk-!-width-full search-float" id="event-name" name="eventName" type="text" placeholder="Search for jobs, careers or information about working for the Civil Service">
</div>


</div>
<div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-3"  style="position:relative;min-height:100px;max-height:160px">

  <div class="govuk-form-group" style="max-width:92%;min-width:70%; margin-top:15px;margin-bottom:20px">
  <label class="govuk-label" for="sort">
    Search in
  </label>
  <select class="govuk-select" id="sort" name="sort" onchange="location = this.options[this.selectedIndex].value;">
    <option>Please select...</option>
    <option value="careers-site-search-results-site">this site</option>
    <option value="careers-site-search-results-jobs">jobs</option>
  </select>
</div>



</div>
</div>

<div class="govuk-grid-row">



      <img src="public/images/cs2.png" style="max-width:100%;">
      <img src="public/images/cs3.png" style="max-width:100%;">
      <img src="public/images/cs4.png" style="max-width:100%;">
      <img src="public/images/cs5.png" style="max-width:100%;">
      <img src="public/images/cs6.png" style="max-width:100%;">
      <img src="public/images/cs7.png" style="max-width:100%;">
      <img src="public/images/cs8.png" style="max-width:100%;">
      <img src="public/images/cs9.png" style="max-width:100%;">
      </div>

</div>


{% endblock %}
