{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you can apply – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>

<form class="form" action="/check-eligible" method="post">

  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{ data['searchwhat'] | capitalize}} {{ data['dept']}}</span>
        <h1 class="govuk-heading-xl">Check you can apply</h1>

      </div>
    </div>



    <p class="govuk-body-m">An application for {{ data['searchwhat'] | capitalize}} will include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a judgement test</li>
      <li>technical questions</li>
      <li>behaviour questions</li>
    </ul>
    <p class="govuk-body-m"><strong>Your completed application must be received before closing at 11:55PM on 22 February 2023.<br> Applications received after closing unfortunately can not be considered.</strong></p>

    <p class="govuk-body-m">Before you start your application, you need to check you are eligible to apply.</p>


    <div id="q1" style="border:1px lightgrey solid; padding:20px;">
      <h3 class="govuk-heading-l">Nationality requirements</h3>
      <p class="govuk-body-m">What is your nationality?</p>



      {% from "govuk/components/select/macro.njk" import govukSelect %}
      {{ govukSelect({
        id: "nationality",
        name: "nationality",
        label: {
          text: ""
        },
        items: [
        {
          value: "none",
          text: "",
          selected: checked("nationality","none")
        },

        {
          value: "Another nationality",
          text: "Another nationality",
          selected: checked("nationality","Another nationality")
        }
        ]
      }) }}

      <p class="govuk-body-m govuk-!-margin-top-9">Will you have the right to remain and take up work in the UK before employment commences? <br>For more information, you can view the full list of <a href="#">nationality requirements</a>.</p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "righttoremain",
        id: "righttoremain",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },

        items: [
        {
          value: "yes",
          checked: checked("righttoremain","yes"),
          text: "Yes"
        },
        {
          value: "no",
          checked: checked("righttoremain","no"),
          text: "No"
        }
        ]
      }) }}


    </div>
    <div id="q2" style="border:1px lightgrey solid; padding:20px;">
      <h3 class="govuk-heading-l govuk-!-margin-top-9">Professional memberships required</h3>

      <p class="govuk-body-m">You must be a qualified practising barrister or solicitor on the CPS Advocate Panel at a minimum of level 2. Do you meet the professional membership requirements?</p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "memberships",
        id: "memberships",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },

        items: [
        {
          value: "yes",
          checked: checked("memberships","yes"),
          text: "Yes"
        },
        {
          value: "no",
          checked: checked("memberships","no"),
          text: "No"
        }
        ]
      }) }}

    </div>

    <div id="q3" style="border:1px lightgrey solid; padding:20px;">
      <h3 class="govuk-heading-l govuk-!-margin-top-9">Language skills required</h3>

      <p class="govuk-body-m">You must speak Spanish fluently? <br>Do you meet the language skills requirements?</p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        id: "language",
        name: "language",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          checked: checked("language","yes"),
          text: "Yes"
        },
        {
          value: "no",
          checked: checked("language","no"),
          text: "No"
        }
        ]
      }) }}

    </div>
    <div id="q4" style="border:1px lightgrey solid; padding:20px;">
      <h3 class="govuk-heading-l govuk-!-margin-top-9">Essential criteria</h3>

      <p class="govuk-body-m">Do you feel confident to communicate with a range of stakeholders?</p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "essential1",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          checked: checked("essential1","yes"),
          text: "Yes"
        },
        {
          value: "no",
          checked: checked("essential1","no"),
          text: "No"
        }
        ]
      }) }}
      <p class="govuk-body-m govuk-!-margin-bottom-9 govuk-!-margin-top-9">Do you have knowledge of the further or higher education sector?</p>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "essential2",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          checked: checked("essential2","yes"),
          text: "Yes"
        },
        {
          value: "no",
          checked: checked("essential2","no"),
          text: "No"
        }
        ]
      }) }}
    </div>
    <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Submit your answers</button>
  </form>
  {% endblock %}
