{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigationClasses:"nav-right",
    navigation: [
      {
        href: "portal-gds-2",
        text: "My dashboard"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}
</style>


{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
    <form class="form" action="" method="post">
      <span class="govuk-caption-l">
        {% if data['searchwhat'] %}
          <strong style="padding-right:20px; text-transform: capitalize;">{{ data['searchwhat']}}</strong> {{ data['dept']}}</span><br>
        {% else %}
          <strong style="padding-right:20px; text-transform: capitalize;">{{ defaultJob}}</strong> {{defaultDept}}<br>
        {% endif %}<br>


        {% if data['searchwhat'] %}
          <h1 class="govuk-heading-l">Are you eligible to apply for the role of <span style="text-transform: capitalize;">{{ data['searchwhat']}}</span>?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Are you eligible to apply for the role of {{defaultJob}}?</h1>
        {% endif %}

        <p class="govuk-body-m">Before you start your application, you need to check you are eligible to apply.</p><br>

        <p class="govuk-body-m">By applying for this role, you agree you meet the eligibility criteria:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you have a Financial Skills Certificate (Foundation level)</li>
          <li>you have experience in data-driven technology</li>
          <li>you feel confident communicating with a range of stakeholders</li>
        </ul><br>

        <p class="govuk-body-m">I have read and understood the eligibility criteria.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "nationality",
              name: "nationality",
              items: [
              {
              value: "eligible-yes~/nationality",
              text: "Yes - I meet the criteria for this role"
              },
              {
              value: "eligible-no~/not-eligible",
              text: "No - I do not meet the criteria"
              }
              ]
              }) }}
          </fieldset>
</div>
        <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Continue</button>

      </div>
    </div>











  </form>
  {% endblock %}
