{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/header-csj-career-site-style.html" %}
{% include "includes/header-apply-csj-career-site-style.html" %}
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="introduction-page dash-element dash-element-left" style="max-width:100%">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#1a81d966">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your log-in details</h2>
          </div>



          <dl class="govuk-summary-list" style="width:80%;margin-bottom:0px">
            <div class="govuk-summary-list__row" style="font-family: 'Adelle';width:80%;border-bottom:none">
              <dd class="govuk-summary-list__value" style="font-weight:bold;width:5%;padding-left:20px">
                Email
              </dd>
              <dd class="govuk-summary-list__value" style="width:15%">
                lsmith@yahoo.com
              </dd>
              <dd class="govuk-summary-list__actions" style="text-align:left">
                <a class="govuk-link" href="#" style="font-family: 'Adelle';width:5%;">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
              <dd class="govuk-summary-list__value" style="font-weight:bold;width:8%;padding-right:0px">
                Password
              </dd>
              <dd class="govuk-summary-list__value" style="width:15%;padding-right:0px">
                *********
              </dd>
              <dd class="govuk-summary-list__actions" style="text-align:left">
                <a class="govuk-link" href="#" style="font-family: 'Adelle'">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          </dl>


      </div>
        </div>

      </div>


      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#c1cdcd">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Messages <span id="notifications" class="moj-notification-badge">1</span></h2>
          </div>


          <dl class="govuk-summary-list" style="margin-bottom:0px;margin-left:30px;max-width:90%">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="font-family: 'Adelle'; max-width:20%">
                8 May 2023
              </dt>
              <dd class="govuk-summary-list__value" style="font-family: 'Adelle'; font-weight:700">
                How to find your new career in the Civil Service
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#" style="font-family: 'Adelle';">
                  Read<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="border-bottom:none">
              <dt class="govuk-summary-list__key" style="font-family: 'Adelle';font-weight:normal">
                6 May 2023
              </dt>
              <dd class="govuk-summary-list__value" style="font-family: 'Adelle';">
                What you can do with your new account
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#" style="font-family: 'Adelle';">
                  Read<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
          </dl>


      </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your applications</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You have no current applications.</p>
        <p class="govuk-body" style="font-family: 'Adelle';margin-left:30px">You have not applied for a Civil Service job before.</p>

        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Search for jobs</a>
      </div>
      </div>
    </div><br>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dash-element-left" style="margin-right:70px">



    <div class="govuk-grid-row">
      <h1 class="govuk-summary-card__title dash-element dash-element-left" style="font-family: 'Adelle';font-size:30px">Options</h1>

    <div class="govuk-grid-column-one-half">

      <div class="introduction-page dash-element dash-element-left">
        <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
          <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Your details</h2>
        </div>
      <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can tell us:</p>
      <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
        <li>your full name</li>
        <li>how we should refer to you (for example, 'she' or 'they')</li>
        <li>how you want to be contacted</li>
        <li>whether you already work for the Civil Service</li>
      </ul>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Start</a>
    </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="introduction-page dash-element dash-element-left">
        <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
          <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Job alerts</h2>
        </div>
      <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
      <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
        <li>set up alerts for the kind of jobs you're interested in</li>
        <li>tell us how you want to be alerted</li>
        <li>decide when we should alert you</li>
      </ul>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Start</a>
    </div>
    </div>
  </div>

    <div class="govuk-grid-row">


  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Saved jobs</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
        <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
          <li>see any job you saved earlier</li>
          <li>be warned if a job deadline is approaching</li>
          <li>apply for a saved job</li>
          <li>remove a job from your list of saved jobs</li>
        </ul>
        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Search for jobs</a>
      </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="introduction-page dash-element dash-element-left">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#b1b4b65e">
            <h2 class="govuk-summary-card__title" style="font-family: 'Adelle'">Join our talent pool</h2>
          </div>
        <p class="govuk-body" style="font-family: 'Adelle';padding-top:10px;margin-left:30px">You can:</p>
        <ul class="govuk-list govuk-list--bullet"style="font-family: 'Adelle';margin-left:30px">
          <li>let us contact you if we find jobs we think you'd be a good fit for</li>

        </ul>
        <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-family: 'Adelle';margin-left:50px; font-size: 1.1875rem;">Start</a>
      </div>
      </div>
    </div>


    <img src="public/images/career-site-social-media.png" style="max-width:100%; padding-bottom:20px">



  <div id="footer">
      <img src="public/images/career-site-footer.png" style="max-width:100%; ">
  </div>

{% endblock %}
