{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Design notes</h1>

<a href="#portalv3" class="govuk-link govuk-link--no-visited-state" style="display:block">Candidate portal notes - v3 (reasonable adjustments)</a><br><a href="#portalv2" class="govuk-link govuk-link--no-visited-state" style="display:block">Candidate portal notes - v2</a><br><a href="#portalv1" class="govuk-link govuk-link--no-visited-state" style="display:block">Candidate portal notes - v1</a><br><br>

    <h3 class="govuk-heading-m" style="margin-bottom:5px">Landing page</h3>
      <p class="govuk-body"><strong>Background</strong></p>
      <p class="govuk-body">The current Civil Service job and career proposition is divided between a <a href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi" target="_blank">job search site</a> and a <a href="https://www.civil-service-careers.gov.uk/" target="_blank">career site</a>. Both are independently maintained and have different styles: the job search site follows GDS patterns, while the careers site is Wordpress-based and follows a non-GDS design.</p><br>

      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">Our aim was to investigate the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is two separate sites necessary, or could one site cover careers and a job search?</li>
        <li>would a new site have to be designed outside of GDS constraints (i.e. more 'corporate', more freedom to use imagery, video etc) or would a GDS version be sufficient to engage users?</li>
        <li>what do users need to know / want to see on this site?</li>
        <li>would users be happy to link out to existing content (for example on the existing careers site) or would the jump be too distracting for them?</li>
        <li>is the job search the most important aspect and so have to be prominent on the page?</li>
        <li>what mediums (e.g. video, PDF, podcast) would be useful to a user?</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We designed two basic landing pages to show to users:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://csj-candidate-experience.herokuapp.com/landing-page" target="_blank">a GDS-friendly version</a> (version A), only slightly off GDS standard: large image, uses of video etc</li>
        <li><a href="https://csj-candidate-experience.herokuapp.com/landing-page-non-gds" target="_blank">an off-standards version</a> (version B), with more imagery, sliding job search and non-standard sections / content display</li>
      </ul>
      <p class="govuk-body">Version B was designed with the most relevant content on it (at least as far as we could guess, based on previous evidence / desktop research). Version A had some matching content, but was mainly to be used as a simple comparison with B: if A had the same content as B, but displayed in a 'less appealing' way, would it be enough to engage users used to corporate-level job and career sites?</p><br>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1680693151065/a3f1783f2f4fd90158b95bae6f81a4d0ba00dca0?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>videos were not well received, both because of the uninspiring static image and because few users we actually interested in watching them</li>
        <li>it was difficult to get a definitive list of what users would want to see on a candidate landing page, as each user was in their own position (e.g. looking for career info, wanting to search for a CS job, wondering about transferring across CS etc) and thus had their own needs. However, the 'What we offer' and 'How to join' sections were well received generally</li>
        <li>a 'career finder' tool was considered useful</li>
        <li>showing some edge case info - like prison leavers, veterans - led to questions about what info we weren't showing. Users felt it was better to cover everyone or not at all, for example by using FAQs to cover all situations</li>
        <li>all users asked would be happy to answer some short questions that would lead to content targeted to them e.g. don't show info that the user has said is not relevant to them</li>
        <li>no user struggled with the idea of clicking links which took them to the career site, and some users commented on how they liked the layout of the career site</li>
        <li>most users preferred version B, but it was felt that this was as much to do with the better content than it was the difference in design from version A</li>
        <li>some users found version B led to a lot of scrolling, especially due to the large main image</li>
        <li>most users did not want to read lengthy PDFs or listen to podcasts. However, they did want to see a summary of the info they contained and have the option to go to the PDF or podcast if they wanted to at another time</li>
        <li>the idea of a single site - covering job search and career info - had a mixed response: some users thought it was a sensible idea, others felt there was no need to muddy the waters if you only wanted to do one or the other</li>
        <li>the job search was considered very important, and although some users were happy with version B's hidden search feature, most felt it would be best on the page near the top</li>

  </div>
</div><br><br><br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" style="margin-bottom:5px" id="portalv3">Candidate portal</h3>
    <h3 class="govuk-heading-s" style="margin-bottom:5px">V3</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">V3 was a by-product of our testing for Reasonable Adjustments (RA). Based on adding RA info and some simplifications based on user feedback from RA users, our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add RAs as a link on the 'Your details' dropdown</li>
        <li>add RAs as a link in the 'Reuse your information' section</li>
        <li>increase the 'Reuse' section to reflect the numerous elements that could be reused</li>
        <li>reorder the panels as the larger 'Reuse' panel would become much larger and unbalance the page</li>
        <li>simplify the links on 'Your applications' after initial RA user feedback</li>
        <li>reduce screen space by moving dept onto same line as job title</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We made the above changes to create a <a href="https://csj-candidate-experience.herokuapp.com/portal-reasonable-adjustments" target="_blank">V3 version of the portal</a>.</p>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1668705786546/d84254a71003439834d0ca9d50e21238814e1fac?sender=u2d124d966bc212bd1d414842" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the portal page continued to be well received, and there was little in the way of issues raised by the RA users we tested with</li>
        <li>the 'Reuse your information' panel was especially well received, as RA users often face bigger challenges with applications in terms of difficulty entering info, time taken to apply etc</li>
        <li>one user raised concerns about the 2 column layout in terms of how a screenreader would read it, and suggested moving to a 1 column design instead</li>
        <li>RA users liked the link to RA guidance at the bottom of the page</li>
      </ul>
        <br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>


    <h3 class="govuk-heading-s" style="margin-bottom:5px" id="portalv2">V2</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">Following on from V1, our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change the look / feel from Career Site to more GDS-aligned styling</li>
        <li>add a search jobs facility on the portal page itself</li>
        <li>show a reuseable info section so users could see that they didn't have to repeat certain info entries every time they applied</li>
        <li>let the user save a job</li>
        <li>let the user set up a job alert</li>
        <li>iterate the design based on V1 feedback e.g. more detailed application section, status tags, change 'Messages' to guidance panels</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We redesigned the portal page with a GDS-friendly look, and then offered users two variants:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://csj-candidate-experience.herokuapp.com/portal-gds-1" target="_blank">an iterated (from V1) portal but still based on a series of info panels</li>
        <li><a href="https://csj-candidate-experience.herokuapp.com/portal-gds-tabs" target="_blank">a more concise version, using tabs to compartmentalise the same info as on the non-tabbed version</a>. This was for a quick user view to see if they preferred seeing less info than on the normal version.</li>
      </ul>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1685443464412/ca1f3c757df02ee26d08181a7e9d264cff731c4e?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the improved applications panel was very successful, with all users understanding what each application type was</li>
        <li>the status tags were also very successful, especially the red one warning of an impending deadline</li>
        <li>users liked the targeted guidance panels and usually understood why they were seeing particular ones at a certain point</li>
        <li>there was some debate over the placement of the details section, with some happy with it's position but others suggesting it should be in the top nav bar. Either way, the hidden details was preferred to the previous version in V1</li>
        <li>users understood and liked the reuseable info section</li>
        <li>all users were able to navigate the saved job and job alert journeys and had no major concerns with either</li>
        <li>interestingly, a number of users said they'd prefer video content when been given guidance - in stark contrast to opinion on videos on the initial landing page prototype. This implies that while generic 'corporate' videos are not welcomed, they can be valuable when giving instructions or advice</li>
        <li>a number of users felt that setting up job alerts was mentioned too many times</li>
        <li>users still struggled to see how to create an account on the sign in page</li>
        <li>the notification banner for a saved job might be better placed on the saved ad itself, rather than the top of the page as per standards</li>
        <li>the 'new' tag was a success, although some users felt it should be more prominent e.g. in a coloured box, bolder, bigger etc</li>
        <li>most users preferred the initial 'all on one page' design over the tabbed version, indicating that the amount of info on the former page is not overwhelming as was first feared</li></ul><br><br>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>
        <br><h3 class="govuk-heading-s" style="margin-bottom:5px" id="portalv1">V1</h3>
        <p class="govuk-body"><strong>Background</strong></p>
        <p class="govuk-body">The current <a href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi" target="_blank">Civil Service jobs site</a> has a limited candidate portal, with features restricted to viewing current and previous applications, and setting up job alerts.</p><br>

        <p class="govuk-body"><strong>Aim</strong></p>
        <p class="govuk-body">Our aim was to investigate the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what features would a candidate want in their portal?</li>
          <li>how would candidates react to a portal designed along the lines of the existing Career Site (i.e. non-standard font, non-GDS designs)?</li>
          <li>would being proactively contacted about possible jobs be beneficial?</li>
          <li>would advice in the form of messages (e.g. 'You can set up alerts for jobs like Delivery Manager') be helpful?</li>
          <li>is a job search needed on this page, or just a link to one?</li>
          <li>how keen are candidates to be able to reuse info they've already given?</li>
          <li>does giving them sections to complete at the appopriate time (e.g. completed an application, so we ask if they want to set up a job alert for this, or see other jobs with same title) help candidates?</li>
        </ul><br>

        <p class="govuk-body"><strong>What we did</strong></p>
        <p class="govuk-body">We designed a sign-in page (linked from a dummy Career Site page with a 'Sign in' button added), which linked to one fo the two following variations:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://csj-candidate-experience.herokuapp.com/dashboard-cs-style" target="_blank">a basic portal as would be seen if a candidate just signed up</li>
          <li><a href="https://csj-candidate-experience.herokuapp.com/dashboard-cs-style-later" target="_blank">a more populated portal based on a candidate who has made some applications, saved some jobs, filled in their personal details etc</a></li>
        </ul>

        <p class="govuk-body"><strong>User research</strong></p>
        <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1683623960575/18666886601916e4ad986df8a2abac093988f24c?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
        <p class="govuk-body"><strong>What we found</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>users generally liked the Career Site-style design, although one user thought it looked too much like the Guardian website(!)</li>
          <li>sign up on the sign in page caused some confusion, as users didn't read the inset text</li>
          <li>Google and LinkedIn were not popular sign-in options, as many users felt they were insecure, not allowed at work or too personal to use</li>
          <li>some users expected to go straight to a 'search for jobs' page after signing in</li>
          <li>messages did not test well: some users didn't want messages at all, others didn't notice their purpose (to give advice at pertinent times)</li>
          <li>users were unsure whether they wanted / needed to see their login details so prominently on the page</li>
          <li>joining a talent pool was seen as a good (and new) option</li>
          <li>some users favoured having a search bar on their portal, although others were happy with the existing link (if renamed to 'Search for job' instead of 'Apply for job')</li>
          <li>all users wanted to reuse previously submitted info in some way</li>
          <li>The personal details section had too much prominence / was placed too high on the page</li>
          <li>the application panel would be even more useful if it explained what was current, status of each application and showed draft applications</li>
        </ul><br><br><br>
        <h3 class="govuk-heading-m" style="margin-bottom:5px" id="reasonable-adjustments">Reasonable adjustments</h3><br>
        <h3 class="govuk-heading-s" style="margin-bottom:5px" id="portalv2">V2</h3>

          <p class="govuk-body"><strong>Aim</strong></p>
          <p class="govuk-body">Our aim was to investigate the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>would the bottom of the job ad (under 'how to apply') be a more effective position for the RA info?</li>
            <li>was asking for an RA for filling in the application itself a real edge case?</li>
            <li>would a link on the tasklist to RA input be better than having it as a task?</li>
            <li>could we improve language used for RAs?</li>
            <li>could we better explain who would see the info?</li>
          </ul><br>

          <p class="govuk-body"><strong>What we did</strong></p>
          <p class="govuk-body">We iterated V1, removing the initial RA question and the tasklist task, amending the content and moving RA content positions.</p><br>

          <p class="govuk-body"><strong>User research</strong></p>
          <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1668705786546/d84254a71003439834d0ca9d50e21238814e1fac?sender=u2d124d966bc212bd1d414842" target="_blank">Mural board with testing notes</a></p><br>
          <p class="govuk-body"><strong>What we found</strong></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>there was mixed opinions on the RA ad being at the bottom of the ad. Some users felt it should be at the top so that RA users were reassured at the start</li>
            <li>during V1 testing, no users had suggested they would need to have an RA set up just to fill in the online application. However, in V2 testing at least one user came up with a scenario where that would be necessary. As a result, it's still unclear if there is a need to capture a pre-application RA. We could negate this by offering an RA link directly from the job ad</li>
            <li>users preferred the tasklist link over the previous tasklist task, but a number of users didn't spot the link and  / or felt it would be better in the main body of the content</li>
            <li>'adjustments and support' was well received, and although some users offered further alternatives none had any issues with the original phrase. We deliverately removed any reference to 'need' or 'help', and no users mentioned feeling any of the language was patronising</li>
            <li>the users that commented liked that we spelt out who 'we' and 'the recruitment team' actually were</li>
          </ul>

            <br>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>
        <h3 class="govuk-heading-s" style="margin-bottom:5px" id="portalv1">V1</h3>
          <p class="govuk-body"><strong>Background</strong></p>
          <p class="govuk-body">Candidates may want adjustments to the application process, or for the Civil Service to support them through the process in some way. This is often known as 'reasonable adjustments' (RA) and aims to give a candidate with, for example, a disability, as fair an application process as someone who doesn't need support.</p><br>

          <p class="govuk-body"><strong>Aim</strong></p>
          <p class="govuk-body">Our aim was to investigate the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>should RA info be prominent in the job ad itself?</li>
            <li>would a candidate need to ask for an RA before they started the application itself?</li>
            <li>should RA be a task within the application tasklist?</li>
            <li>would a user prefer to see RAs broken up into individual sections e.g. online tests?</li>
            <li>would regular prompts to enter RAs work?</li>
            <li>would a user want to store and reuse their RA info?</li>
          </ul><br>

          <p class="govuk-body"><strong>What we did</strong></p>
          <p class="govuk-body">We tested a <a href="previous-versions/reasonable-adjustments-v1/job-ad-full?searchwhat=Strategy Advisor&dept=Department for Education">mock job application</a> with RA info, prompts and capture points at various stages. We then tested this with RA users.</p><br>

          <p class="govuk-body"><strong>User research</strong></p>
          <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1693570860951/cae6997866a8d520a6a35c30e6f1a0faeb4f5e02?sender=u2d124d966bc212bd1d414842" target="_blank">Mural board with testing notes</a></p><br>
          <p class="govuk-body"><strong>What we found</strong></p>
          <ul class="govuk-list govuk-list--bullet">
            <li>RA users generally liked the prominent position of the RA info at the top of the job ad. We did not, however, test it with non-RA users to see if it was a distraction for them.</li>
            <li>language used is a bone of contention. A number of RA users did not like the terms 'need' or 'help', finding them derogatory and condescending as they felt they didn't 'need help', but instead were entitled to support</li>
            <li>asking if a candidate needed help with actually filling in an online application proved confusing to users. Many thought this was asking about RAs overall, and not just for filling in the tasklist</li>
            <li>adding RA as a task did not work well. Users thought it was a record of the RA they'd already entered on a previous screen, and that they now had to wait for a response from the recruitment team</li>
            <li>there is a huge issue of trust with RA users - most had negative experiences involving RAs and applications, with many saying they wouldn't fill anything in for fear they would be discriminated against in the selection process</li>
            <li>this was also reflected in the wariness around language such as 'we will...' - who is 'we'? What is 'we' doing with my info etc?</li>
            <li>lots of users wanted more examples of RAs</li>
            <li>all users liked that we also focused on behavioural info, such as users who might not like to shake hands or make eye contact</li>
            <li>the breakdown of RAs into sections was well received</li>
            <li>all users liked that their RA input was stored and could be reused</li>
            <li>all users liked that we prompted for RAs at the relevant point, and also that we replayed RA info for future applications</li>
        </div>
        </div><br><br><br>




{% endblock %}
