{% extends "layouts/main.html" %}

{% block pageTitle %}
Online tests result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">
      
     
      <p class="govuk-body-m">The candidate would now sign in using One Login.</p>
      <p class="govuk-body-m">This has not been replicated here as final One Login designs may change.</p>
      
<p class="govuk-body-m"><a href="portal-already-applied">Continue as if now signed in</a></p>




  {% endblock %}
