{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}





{% block content %}

<style>

.govuk-\!-margin-bottom-9 {
  margin-bottom:0px;
}

</style>

<div class="govuk-grid-row">
    <div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-l">Help you need when applying for a job</h1>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Communicating with us</h2>

            <ul class="govuk-summary-card__actions">
             <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                 Edit
               </a>
             </li>

           </ul>
         </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I do not need any help with this
              </dd>
            </div>
          </dl></div></div><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Completing an application form</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
           </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I have difficulty filling things in online and would prefer if i could give you a recording of me telling you about my cv and personal statement
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else you want us to know about your application form?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>

            </div>
          </dl></div></div><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Doing online tests</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I do not need any help with this
              </dd>

            </div>
          </dl></div></div><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">If you have an interview</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I have to take medication at specific times so I might have to leave an interview for 10 minutes.
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You also told us
              </dt>
              <dd class="govuk-summary-list__value">
                Bright lights can make me disorientated. Can I have a room with dimmed lights or just a reading lamp?
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else you want us to know about the interview stage?
              </dt>
              <dd class="govuk-summary-list__value">
                I have to visualise my answers in my head and will often close my eyes while I'm doing this, so I might not give someone eye contact.
              </dd>

            </div>
          </dl></div></div><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Any other information you want to tell us</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                Got a knee injury from a fall. Probably be on crutches until end of September 2023
              </dd>
            </div>

          </dl></div></div><br>
          <h2 class="govuk-heading-m">Now send your application</h2>
          <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
          <form action="/form-handler" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
              Accept and send
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
