{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}





{% block content %}

<style>

.govuk-\!-margin-bottom-9 {
  margin-bottom:0px !important;
}

</style>

<div class="govuk-grid-row">
    <div class="govuk-width-container">
      {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}<br><br>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-l">Help you need when applying for a job</h1>

          <p class="govuk-body">Tell us about any help you might need during the application process.</p>

          <div class="govuk-inset-text">
            You can add, remove or edit this information at any time.
          </div>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What do we do with this information?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">If you tell us you need help with parts of the application process, we will try and support you by making reasonable adjustments where possible.</p>

              <p class="govuk-body">Examples of reasonable adjustments include:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>providing an application form in Braille if you have sight difficulties</li>
                  <li>giving you easy access to an interview room if you are on crutches or recovering from an operation</li>
                  <li>letting you have more time to complete assessments</li>
                </ul>

              <p class="govuk-body">You can also tell us if you do not need help but there's some information that might be useful for us to know. For example, you could tell us if you do not like to make eye contact with a person who's interviewing you and we would pass this information on to the person doing the interview.</p>



                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Telling us you need help applying does not affect how we assess your application in any way. You will not be penalised for asking for help from us.
                  </strong>
                </div>
            </div>
          </details>






          <br><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Communicating with us</h2>
              <form action="help-needed-communicating-edited" method="post" novalidate>
            <ul class="govuk-summary-card__actions">
             <li class="govuk-summary-card__action"> <a class="govuk-link" href="help-needed-communicating">
                 Edit
               </a>
             </li>

           </ul>
         </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group">
                  {% if data['comms-help-details'] %}
                    {{ govukTextarea({
                      name: "more-detail",
                      id: "more-detail",
                      value:data['comms-help-details']
                    }) }}
                  {% else %}
                  {{ govukTextarea({
                    name: "comms-help-details",
                    id: "more-detail",
                    value:"I do not need any help with this"
                  }) }}
                  {% endif %}
                  <div class="govuk-hint">
                    Change the information above and then save it.
                  </div>
                </div>
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    Save
                  </button>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                  </button>
                </div>
                </form>

              </dd>
            </div>
          </dl></div></div><br><br><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Completing an application form</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
           </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I have difficulty filling things in online and would prefer if i could give you a recording of me telling you about my cv and personal statement
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else you want us to know about completing an application form?
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>

            </div>
          </dl></div></div><br><br><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Doing online tests</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I do not need any help with this
              </dd>

            </div>
          </dl></div></div><br><br><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">If you have an interview</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                I have to take medication at specific times so I might have to leave an interview for 10 minutes.
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You also told us
              </dt>
              <dd class="govuk-summary-list__value">
                Bright lights can make me disorientated. Can I have a room with dimmed lights or just a reading lamp?
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is there anything else you want us to know about the interview stage?
              </dt>
              <dd class="govuk-summary-list__value">
                I have to visualise my answers in my head and will often close my eyes while I'm doing this.
              </dd>

            </div>
          </dl></div></div><br><br><br>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Any other information you want to tell us</h2>
              <ul class="govuk-summary-card__actions">
               <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                   Edit</a>
               </li>
             </ul>
            </div>
            <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                You told us
              </dt>
              <dd class="govuk-summary-list__value">
                Got a knee injury from a fall. Probably be on crutches until end of September 2023
              </dd>
            </div>

          </dl></div></div><br>

          <form action="portal-reasonable-adjustments" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button class="govuk-button" data-module="govuk-button">
              Back to your dashboard
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}
