{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }
</style>

<div class="govuk-grid-row">


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Prototype
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            User journeys
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            Requirement documents
          </a>
        </li>

      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Civil Service Jobs - prototype</h2>

        <div class="govuk-inset-text">
          If you have any questions about using this prototype, please contact <a href="">Jonathan Inch</a>, <a href="">Ismail Ismail</a> or <a href="">Anna Smith</a>.
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li>
                (1) <a class="govuk-link" href="step1">Vacancy is set up</a>
              </li>
              <li>
                (2) <a class="govuk-link" href="#step2">Candidate finds role</a>
              </li>
              <li>
                (3) <a class="govuk-link" href="#step3">Candidate applies</a>
              </li>
              <li>
                (4) <a class="govuk-link" href="#step4">Applications are sifted</a>
              </li>
              <li>
                (5) <a class="govuk-link" href="#step5">Interviews are set up and arranged</a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li>
                (6) <a class="govuk-link" href="#step6">Interviews take place</a>
              </li>
              <li>
                (7) <a class="govuk-link" href="#step7">Provisional offer made</a>
              </li>
              <li>
                (8) <a class="govuk-link" href="#step8">Pre-employment checks</a>
              </li>
              <li>
                (9) <a class="govuk-link" href="#step9">Final offer</a>
              </li>
            </ul>
          </div>
        </div><br>

        <table class="govuk-table" id="step2">
          <caption class="govuk-table__caption govuk-table__caption--m">(2) Candidate finds role</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header column-width-40">Event</th>
              <th scope="col" class="govuk-table__header">Who</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Confidence</th>
              <th scope="col" class="govuk-table__header">Confidence notes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="https://csj-candidate-experience.herokuapp.com/home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate begins on CS Jobs search page</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This page can be accessed from a number of places, including GOV.UK and Civil Service Careers website. It is also easily found on search engines.<br><br>

                    On this page candidate can link to:
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="https://csj-candidate-experience.herokuapp.com/sign-in" class="govuk-link govuk-link--no-visited-state">a sign in page</a></li>
                      <li><a href="https://csj-candidate-experience.herokuapp.com/create-an-account" class="govuk-link govuk-link--no-visited-state">an account creation page</a></li>
                      <li><a href="https://csj-candidate-experience.herokuapp.com/search-results" class="govuk-link govuk-link--no-visited-state">advanced search (which is just the search results page)</a></li>
                      <li><a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state">the Civil Service Careers website</a></li>
                    </ul>
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  low
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="https://csj-candidate-experience.herokuapp.com/portal-gds-search-results" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Search results are shown</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Optional: candidate can save a job they are interested in, which takes them on a mini journey to save job and optionally set up a job alert for that job type.<br><br>To show this, click on the 'Save' button on the first job in the list. This will then take you to '<a href="#saves-a-job">Candidate saves a job they like</a>'.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  untested
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  low
                </strong>

              </td>
              <td class="govuk-table__cell">
                Untested
              </td>
            </tr>
            <tr id="saves-a-job" class="govuk-table__row">
              <td class="govuk-table__cell"><a href="https://csj-candidate-experience.herokuapp.com/portal-gds-search-results" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate saves a job they like (optional)</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    n/a
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  tested
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                </strong>
                ???
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">User journeys</h2>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h2 class="govuk-heading-l">Requirement documents</h2>
      </div>

    </div>


  </div>


{% endblock %}
