{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}</h1>
    <h2 class="govuk-heading-l">  Candidate Experience</h2>
      <span class="govuk-caption-xl govuk-!-margin-bottom-6">Job ad to application submission</span>




    {% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukButton({
      text: "Launch prototype",
      href: "home"
    }) }}

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>

    <br><br><br><h2 class="govuk-heading-l">Candidate landing page</h2>
    <span class="govuk-caption-xl govuk-!-margin-bottom-6">Using an off-pattern style, and a more GDS-friendly style</span>
    {% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukButton({
      text: "GDS style",
      classes: "govuk-button--secondary",
      href: "landing-page"
    }) }}

    {{ govukButton({
      text: "non-GDS style",
      classes: "govuk-button--secondary",
      href: "landing-page-non-gds"
    }) }}

  <a href="design-notes" class="govuk-link govuk-link--no-visited-state" style="display:block">Design notes</a><br><br>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>

  <br><h2 class="govuk-heading-l">Candidate portal</h2>

  {{ govukButton({
    text: "Launch prototype (then choose 'sign-in' option)",
    href: "portal-csjobs-home"
  }) }}

  {{ govukButton({
    text: "Tabbed version (to compare with above)",
    href: "portal-gds-tabs"
  }) }}

  <a href="design-notes" class="govuk-link govuk-link--no-visited-state" style="display:block">Design notes</a><br><br><br>



  {{ govukButton({
    text: "V1 - Using Career Site styling",
    classes: "govuk-button--secondary",
    href: "previous-versions/portal-v1/career-site"
  }) }}

  <a href="design-notes" class="govuk-link govuk-link--no-visited-state" style="display:block">Design notes</a><br><br>

  {{ govukButton({
    text: "Interview offer",
    href: "portal-interview"
  }) }}<br>

  {{ govukButton({
    text: "Pre-employment checks stage",
    href: "portal-pec"
  }) }}<br>

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
