{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
  .govuk-width-container {
    max-width:1200px;
  }

  .column-width-40 {
    width:40% !important;
  }

  :target{
    background-color:#e5f5f0;
  }
</style>

<div class="govuk-grid-row">


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#prototype">
            Prototype
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#user-journeys">
            User journeys
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#documents">
            Requirement documents
          </a>
        </li>

      </ul>
      <div class="govuk-tabs__panel" id="prototype">
        <h2 class="govuk-heading-l">Civil Service Jobs - prototype</h2>

        <div class="govuk-inset-text">
          If you have any questions about using this prototype, please contact <a href="mailto:jonathan.inch@cabinetoffice.gov.uk" target="_blank">Jonathan Inch</a>, <a href="mailto:ismail.ismail@cabinetoffice.gov.uk" target="_blank">Ismail Ismail</a> or <a href="mailto:anna.smith@cabinetoffice.gov.uk" target="_blank">.
        </div><br><br>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li>
                (1) <a class="govuk-link" href="step1">Vacancy is set up</a>
              </li>
              <li>
                (2) <a class="govuk-link" href="#step2">Candidate finds role</a>
              </li>
              <li>
                (3) <a class="govuk-link" href="#step3">Candidate applies</a>
              </li>
              <li>
                (4) <a class="govuk-link" href="#step4">Applications are sifted</a>
              </li>
              <li>
                (5) <a class="govuk-link" href="#step5">Interviews are set up and arranged</a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
              <li>
                (6) <a class="govuk-link" href="#step6">Interviews take place</a>
              </li>
              <li>
                (7) <a class="govuk-link" href="#step7">Provisional offer made</a>
              </li>
              <li>
                (8) <a class="govuk-link" href="#step8">Pre-employment checks</a>
              </li>
              <li>
                (9) <a class="govuk-link" href="#step9">Final offer</a>
              </li>
            </ul>
          </div>
        </div><br><br><br>




<!-- Step 1 table -->

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"  id="step1">(1) Vacancy is set up</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header column-width-40">Event</th>
              <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Vacancy holder chooses whether or not to use template</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
                <a href="#use-template" class="govuk-link govuk-link--no-visited-state">Yes - will use template (Scenario A)</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#no-template" class="govuk-link govuk-link--no-visited-state">No - will not use template (Scenario B)</a><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>

            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><strong>Scenario A - using template</strong><br><br><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em"> egjsdg sodg</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em"> asdflkdfl</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em"> s dsdis disdh d</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>


            <tr class="govuk-table__row" id="no-template">
              <td class="govuk-table__cell"><strong>Scenario B - not using template</strong><br><br><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">ahsdfkahsdafa</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">fsodfh soa </a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">dg sdga fua</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row" id="use-template">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">qewrqwurfioadjfd</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Blah blah.<br><br>
                  </div>
                </details><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  VACANCY HOLDER
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>

              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>


          </tbody>
        </table><br><br><br><br><br>



<!-- Step 2 table -->

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"  id="step2">(2) Candidate finds role</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header column-width-40">Event</th>
              <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate begins on CS Jobs search page</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This page can be accessed from a number of places, including GOV.UK and Civil Service Careers website. It is also easily found on search engines.<br><br>

                    On this page candidate can link to:
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="sign-in" class="govuk-link govuk-link--no-visited-state">a sign in page</a></li>
                      <li><a href="create-an-account" class="govuk-link govuk-link--no-visited-state">an account creation page</a></li>
                      <li><a href="search-results" class="govuk-link govuk-link--no-visited-state">advanced search (which is just the search results page)</a></li>
                      <li><a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state">the Civil Service Careers website</a></li>
                    </ul>
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                Tested many times in as is state (not many variations of it) - confidence is low because all findings are that people need more filters but we haven't tested this yet
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="search-results" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Search results are shown</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Optional: candidate can save a job they are interested in, which takes them on a mini journey to save job and optionally set up a job alert for that job type.<br><br>To show this, click on the 'Save' button on the first job in the list. This will then take you to '<a href="#saves-a-job">Candidate saves a job they like</a>'.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                  untested
                </strong>
              </td>
              <td class="govuk-table__cell">
                Untested
              </td>
            </tr>
            <tr id="job-ad" class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/job-ad-full?searchwhat=Strategy%20Advisor&dept=Department%20for%20Education" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate reads job ad</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    From here, 'Apply' takes the candidate to step (3) - <a href="#step3">'Candidate applies'</a>.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  limited testing
                </strong>
              </td>
              <td class="govuk-table__cell">
                Not tested in a long time, only internally, wasn't very content heavy. This page hasn't progressed in line with the Vacancy Holder progress so hasn't been tested in the state it needs to be updated to, to reflect these VH findings.
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><br><br></td>
              <td class="govuk-table__cell"><br><br></td>
              <td class="govuk-table__cell"><br><br></td>
              <td class="govuk-table__cell"><br><br></td>
            </tr>
            <tr id="saves-a-job" class="govuk-table__row">
              <td class="govuk-table__cell"><a href="search-results-saved" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate saves a job they like (optional)</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Optional: candidate can create a job alert to notify them if similar roles are posted in the future.<br><br>To create an alert, they will need to <a href="#sign-in">sign in</a> or <a href="#sign-up">register</a> first so that the alert can be stored in their profile.<br><br>To show this, click on the link in the banner. This will then take you to '<a href="#job-alert">Candidate creates job alert for this role</a>'.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  tested
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr id="job-alert" class="govuk-table__row">
              <td class="govuk-table__cell"><a href="job-alert" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate creates job alert for this role (optional)</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This page includes a link to more options for setting up a job alert (e.g. job type, minimum salary, range from a location etc). <strong>This has not been prototyped</strong>.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  tested
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr id="job-alert" class="govuk-table__row">
              <td class="govuk-table__cell"><a href="job-alert-saved" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Job alert is saved (optional)</a><br>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  tested
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
          </tbody>
        </table><br><br><br>






        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m"  id="step3">(3) Candidate applies</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header column-width-40">Event</th>
              <th scope="col" class="govuk-table__header" style="width:17%">Who</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header" style="width:35%">Testing notes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="sign-in-apply?cookies=yes" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate signs in or registers</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    If candidate has already created an account and we detect this through cookies, this page is shown.<br><br>
                    If no existing account cookie is detected, <a href="sign-in-apply?cookies=no" target="_blank">this version with alternate content</a> is shown.
                    <br><br>Applying is not the only place where a candidate might sign in or register - there are a number of entry points, including saving a job, creating a job alert etc (mainly any action that is specific to that candidate and needs to be stored in their account). A candidate may also choose to register in preparation for one of these actions, without actually saving a job, applying etc at that time.<br><br>
                    It is also possible that a candidate might choose not to sign in or register until they have <a href="#eligibility-criteria">decided they meet the eligibility criteria</a> for a role.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="eligibility-criteria">
              <td class="govuk-table__cell"><a href="sign-in-apply?cookies=yes" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate decides if meets eligibility criteria</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    Criteria shown to candidate are job-specific and so subject to change depending on role applied for.
                  </div>
                </details><br>
                <a href="#uk-national" class="govuk-link govuk-link--no-visited-state">Yes - candidate thinks they're eligible</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#eligible-no" class="govuk-link govuk-link--no-visited-state">No - candidate is not eligible</a><br><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="uk-national">
              <td class="govuk-table__cell"><a href="nationality" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate declares if they are a UK national</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details><br>
                <a href="#eligible-yes" class="govuk-link govuk-link--no-visited-state">Yes - candidate is a UK national</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#other-nationality" class="govuk-link govuk-link--no-visited-state">No - candidate is not a UK national</a><br><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="other-nationality">
              <td class="govuk-table__cell"><a href="other-nationality" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">If not UK, candidate declares if they are EU, EEA etc</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details><br>
                <a href="#right-to-work" class="govuk-link govuk-link--no-visited-state">Yes - candidate fits the description</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#commonwealth-or-ireland" class="govuk-link govuk-link--no-visited-state">No - candidate does not fit the description</a><br><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="commonwealth-or-ireland">
              <td class="govuk-table__cell"><a href="commonwealth-or-ireland" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">If not EU, EEA etc, candidate declares if Commonwealth or Irish citizen</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details><br>
                <a href="#right-to-work" class="govuk-link govuk-link--no-visited-state">Yes - candidate is Commonwealth or Irish citizen</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#eligible-no" class="govuk-link govuk-link--no-visited-state">No - candidate is not Commonwealth or irish citizen</a><br><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="right-to-work">
              <td class="govuk-table__cell"><a href="right-to-work" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Candidate declares if have right to work in UK</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details><br>
                <a href="#eligible-yes" class="govuk-link govuk-link--no-visited-state">Yes - candidate can work in the UK</a>
                <p class="govuk-body-m" style="padding-top:20px">OR</p>
                <a href="#eligible-no" class="govuk-link govuk-link--no-visited-state">No - candidate cannot work in the UK</a><br><br><br>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="eligible-yes">
              <td class="govuk-table__cell"><a href="eligible" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Eligibility to apply is confirmed</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
            <tr class="govuk-table__row" id="eligible-no">
              <td class="govuk-table__cell"><a href="not-eligible" target="_blank" class="govuk-link govuk-link--no-visited-state" style="font-size:1.2em">Not eligible to apply is confirmed</a><br>
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary" style="color:#5d6062">
                    <span class="govuk-details__summary-text" style="font-size:0.9em">
                      Notes
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    None.
                  </div>
                </details>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--purple">
                  candidate
                </strong>
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag">
                  TESTED
                </strong>
              </td>
              <td class="govuk-table__cell">
                ???
              </td>
            </tr>
          </tbody>
        </table>




      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="user-journeys">
        <h2 class="govuk-heading-l">User journeys</h2>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="documents">
        <h2 class="govuk-heading-l">Requirement documents</h2>
      </div>
    </div>
  </div>

{% endblock %}
