{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/co-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Delivery Manager' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'DWP' %}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{ Job }}</strong> {{ Dept }}</span><br>
        <h1 class="govuk-heading-l">
          Interview feedback
        </h1>
        <p class="govuk-body-m">Thank you for applying for {{Job}}.</p>
        <p class="govuk-body-m"><strong>Your interview was successful.</strong></p>

        <h2 class="govuk-heading-m">
          Behaviour statement scores
        </h2>

        <h3 class="govuk-heading-s">
          Changing and improving
        </h3>
        <p class="govuk-body-m">You scored 6 out of 7.</p>
        <p class="govuk-body-m">Strong demonstration - substantial, positive evidence and includes some evidence of exceeding expectations.</p>

        <h3 class="govuk-heading-s">
          Seeing the big picture
        </h3>
        <p class="govuk-body-m">You scored 6 out of 7.</p>
        <p class="govuk-body-m">Strong demonstration - substantial, positive evidence and includes some evidence of exceeding expectations.</p>


        <br><br>

        <h2 class="govuk-heading-m">
          Experience scores
        </h2>

        <h3 class="govuk-heading-s">
          Building engaging and effective relationships with stakeholders
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence.</p><br>

        <h2 class="govuk-heading-m">
          Strength questions scores
        </h2>

        <h3 class="govuk-heading-s">
          Analytical
        </h3>
        <p class="govuk-body-m">You scored 5 out of 7.</p>
        <p class="govuk-body-m">Good demonstration - Substantial positive evidence.</p>

        <h3 class="govuk-heading-s">
          Challenger
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence.</p>

        <h3 class="govuk-heading-s">
          Problem solver
        </h3>
        <p class="govuk-body-m">You scored 6 out of 7.</p>
        <p class="govuk-body-m">Strong demonstration -  Substantial, positive evidence and includes some evidence of exceeding expectations.</p><br>

        <h2 class="govuk-heading-m">
          Presentation
        </h2>
        <p class="govuk-body-m">You scored 6 out of 7.</p>
        <p class="govuk-body-m">Strong demonstration -  Substantial, positive evidence and includes some evidence of exceeding expectations.</p><br>




        <h2 class="govuk-heading-m">
          Your score overall
        </h2>

        <p class="govuk-body-m">You scored 35 out of 49</p><br>

        <div class="govuk-button-group">

          <form action="candidate-provisional-offer/provisional-offer" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Continue to provisional offer
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back to your application page
          </button>

        </div>

      </div>
    </div>



  </form>
  {% endblock %}
