{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Delivery Manager' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'DWP' %}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}<br><br>
      <form action="book-interview" method="post" novalidate>
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{Job}}</strong> {{Dept}}</span><br>
        <h1 class="govuk-heading-l">
          You're invited to interview
        </h1>
        <p class="govuk-body-m"><strong>Congratulations, you're invited to interview for {{Job}} (3224578).</strong></p>

        <p class="govuk-body-m">Your interview will be in person and will last about 1 hour.</p>

        <p class="govuk-body-m">At your interview, you'll give a 15 minute presentation on 'managing relationships with key policy stakeholders'.</p>

        <p class="govuk-body-m">We'll ask you questions based on the <a class="govuk-link" href="https://www.gov.uk/government/publications/success-profiles" target="_blank">Civil Service Success Profiles (opens in new tab)</a>.</p>

        <p class="govuk-body-m">These questions will focus on these <a class="govuk-link" href="https://www.gov.uk/government/publications/success-profiles/success-profiles-civil-service-behaviours" target="_blank">Civil Service behaviours (opens in new tab)</a>:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>making effective decisions</li>
          <li>communicating and influencing</li>
          <li>seeing the big picture</li>
        </ul>

        <p class="govuk-body-m">Once you've booked your interview, we'll give you more information to help you prepare.</p>

        <p class="govuk-body-m">You can review your application and interview details in your application centre.</p>
        
        <div class="govuk-inset-text">If you are no longer interested in this job, you can <a href="">withdraw your application</a> at any time.</div>

        <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Book your interview</button>

      </div>
    </div>



  </form>
  {% endblock %}
