{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Delivery Manager' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'DWP' %}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}<br><br>
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{ Job }}</strong> {{ Dept }}</span><br>
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Booking confirmed
          </h1>
          <div class="govuk-panel__body">
            You've successfully booked your interview for Delivery Manager (3224578)
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-6">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-m"><strong>Date</strong></p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>Monday 16 March</p>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-m"><strong>Time</strong></p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>10am</p>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body-m"><strong>Address</strong></p>
          </div>
           <div class="govuk-grid-column-one-third">
            <p>3 Glass Wharf<br>Bristol<br>BS1 0EL</p>
          </div>
        
        </div>

        <h2 class="govuk-heading-m">
          Your interview panel
        </h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>Jonathan Smith, Senior Delivery Manager</li>
          <li>Sally Phillips, Interaction Designer</li>
          <li>Gregg Canterbury, Communication Officer</li>
        </ul>

        <h2 class="govuk-heading-m">
          Preparing for your interview
        </h2>
        <p class="govuk-body-m">When you arrive at the building, report to reception and ask for Jonathan Smith. Remember to arrive early so you can avoid any delays. </p>
        <p class="govuk-body-m">Your interview will be about 1 hour long. You'll be assessed on your interview presentation and your answers to our interview questions. 
        </p>
        <p class="govuk-body-m">You can review your application and interview details in your application centre. 
        </p>

        <h3 class="govuk-heading-m">
          Interview presentation
        </h3>
        <p class="govuk-body-m">You'll give a 15 minute presentation on 'managing relationships with key policy stakeholders'. 
</p>

        <h3 class="govuk-heading-m">
          Interview questions
        </h3>
        <p class="govuk-body-m">We'll ask you questions based on the <a class="govuk-link" href="https://www.gov.uk/government/publications/success-profiles" target="_blank">Civil Service Success Profiles (opens in new tab)</a>.</p>

        <p class="govuk-body-m">These questions will focus on these <a class="govuk-link" href="https://www.gov.uk/government/publications/success-profiles/success-profiles-civil-service-behaviours" target="_blank">Civil Service behaviours (opens in new tab)</a>:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>making effective decisions</li>
          <li>communicating and influencing</li>
          <li>seeing the big picture</li>
        </ul>
        <p class="govuk-body-m">Think about examples of when you've demonstrated these behaviours. And when you're answering a question, you should use <a class="govuk-link" href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice/the-star-method" target="_blank">the STAR method</a>.</p>


        <h2 class="govuk-heading-m">
          How can we support your access to the interview?
        </h2>

        <p class="govuk-body-m">We want to make sure everyone has a fair experience during our recruitment process. 
</p>

<p class="govuk-body-m">If you need any reasonable adjustments because of a disability, condition, or impairment, we may be able to offer extra time or assisted technology.
</p>
<p class="govuk-body-m">This will not affect your application. We're committed to enabling access for all.
</p>
<p class="govuk-body-m">If you decide to <a class="govuk-link" href="#" target="_blank">tell us about your needs</a>, your request will be sent to the vacancy holder, who will get in touch with you.
</p>

        <h1 class="govuk-heading-m">
          Next steps
        </h1>

        <p class="govuk-body-m">Before your interview, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>review the <a href="">{{Job}} person specification (opens in new tab)</a></li>
          <li>look at the <a href="">Civil Service success profiles (opens in new tab)</a></li>
          <li>get practical advice to <a href="">prepare for your interview (opens in new tab)</a></li>
        </ul><br><br>

        <div class="govuk-button-group">
          {% if data['appl-homepage']=="yes" %}
          <form action="dwp-application-home?interview-booked=yes" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Back to your application page
          </button>
          {% else %}
          <form action="portal-interview?interview-booked=yes" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Back to your dashboard
          </button>
          {% endif %}
          {{ govukButton({
            text: "Make a change to my booking",
            classes: "govuk-button--secondary",
            href: "book-interview"
          }) }}
          </form>


        </div>

      </div>
    </div>



  </form>
  {% endblock %}
