{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you can apply – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
    <form class="form" action="ji-nationality" method="post">
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{ data['searchwhat'] | capitalize}}</strong> {{ data['dept']}}</span><br>
        <h1 class="govuk-heading-l">Are you eligible to apply for the role of {{ data['searchwhat'] | capitalize}}?</h1>

        <p class="govuk-body-m">Before you start your application, you need to check you are eligible to apply.</p><br>

        <p class="govuk-body-m">By applying for this role, you agree you meet the eligibility criteria:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>You have a Financial Skills Certificate (Foundation level)</li>
          <li>You have experience in data-driven technology</li>
          <li>You feel confident communicating with a range of stakeholders</li>
        </ul><br>

        <p class="govuk-body-m">I have read and understood the eligibility criteria.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

            {{ govukRadios({
              classes: "govuk-radios",
              idPrefix: "nationality",
              name: "nationality",
              items: [
              {
              value: "eligible-yes~/ji-nationality",
              text: "Yes - I meet the criteria for this role"
              },
              {
              value: "eligible-no~/ji-job-ad-full",
              text: "No - I do not meet the criteria"
              }
              ]
              }) }}
          </fieldset>
</div>
        <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Continue</button>

      </div>
    </div>











  </form>
  {% endblock %}
