{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

{% if data['file'] | length > 1 %}
{% set cvurl = "cv-existing" %}
{% elif data['file-upload-1'] | length > 1 %}
{% set cvurl = "cv-uploaded" %}
{% else %}
{% set cvurl = "cv" %}
{% endif %}


{% if data['dept'] == "Department for Education" %}
<img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
{% elif data['dept'] == "Home Office" %}
<img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
{% else %}
<img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="padding-right:10px">

    <div class="govuk-width-container">


    <div class="govuk-grid-row">

        <span class="govuk-caption-l">
          <strong style="padding-right:20px">{{ data['searchwhat'] | capitalize}}</strong> {{ data['dept']}}</span><br>
        <h1 class="govuk-heading-l">Check you can apply</h1>
        <h2 class="govuk-heading-m">Your answers</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              You agree that
            </dt>
            <dd class="govuk-summary-list__value">You have a Financial Skills Certificate (Foundation level)<br><br>
You have experience in data-driven technology<br><br>
You feel confident communicating with a range of stakeholders
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:40%">
              Are you a national of the UK?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Will you have the right to remain and take up work in the UK before employment commences?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>

          </div>


        </dl>


        <form action="ji-task-list" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Go back

          </button>
        </form>

    </div>

</div>
    </div>

  </div>



  {% endblock %}
