{% extends "layouts/main.html" %}

{% block pageTitle %}
Online tests result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

<form class="form" action="ji-task-list?pass=true" method="post">
<div class="govuk-grid-row">
  {% if data['dept'] == "Department for Education" %}
  <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
  {% elif data['dept'] == "Home Office" %}
  <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
  {% else %}
  <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    {% include "includes/job-and-dept.html" %}
      <h1 class="govuk-heading-xl">You’ve passed the Judgement test</h1>

      <p class="govuk-body-m">Thank you for completing the Civil Service Judgement online test.</p>

      <p class="govuk-body-m">Your score was 65%. The score needed for this role is 47% or above.</p>

      <p class="govuk-body-m">You can <a href="#">view your test feedback</a>.</p>

      <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Continue your application</button>
</form>
    </div>
  </div>


  {% endblock %}
