{% extends "layouts/main.html" %}

{% block pageTitle %}
Check you can apply – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>

{% if data['searchwhat'] %}
  {% set Job = data['searchwhat'] %}
{% else %}
  {% set Job = 'Delivery Manager' %}
{% endif %}

{% if data['dept'] %}
  {% set Dept = data['dept'] %}
{% else %}
  {% set Dept = 'DWP' %}
{% endif %}

  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/co-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" novalidate>
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{Job}}</strong> {{Dept}}</span><br><br>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Are you any of the following?
                </h1><br>

                <ul class="govuk-list govuk-list--bullet">
                  <li>a national from the EU, EEA or Switzerland with settled or pre-settled status or who has applied for either status by the deadline of the <a href="https://www.gov.uk/settled-status-eu-citizens-families" target="_blank">European Union Settlement Scheme (EUSS) (opens in a new window)</a></li>
                  <li>a relevant EU, EEA, Swiss or Turkish national working in the Civil Service</li>
                  <li>a relevant EU, EEA, Swiss or Turkish national who has built up the right to work in the Civil Service</li>
                  <li>a family member of a relevant EU, EEA, Swiss or Turkish national</li>
                </ul>
              </legend>

              <a href="https://www.gov.uk/government/publications/nationality-rules" class="govuk-link" target="_blank">Further information on nationality rules (opens in a new window)</a><br><br><br>

              <div class="govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="other-nationality" type="radio" value="yes~/ji-right-to-work">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="other-nationality" type="radio" value="no~/ji-commonwealth-or-ireland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    No
                  </label>
                </div>


              </div>
            </fieldset>
          </div>

        <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Continue</button>

      </div>
    </div>











  </form>
  {% endblock %}
