{% extends "govuk-prototype-kit/layouts/unbranded.html" %}



{% block beforeContent %}


<div>
<p class="govuk-!-margin-top-4" id="display" style="float:left;display: inline; padding-left: 20px;color:red"></p>

<img src="public/images/social-linkedin.png" style="max-width:2%;padding-bottom:30px">
<img src="public/images/social-twitter.png" style="max-width:2%;padding-bottom:30px">
<img src="public/images/social-youtube.png" style="max-width:2%;padding-bottom:30px">
<img src="public/images/civil-service-logo.png" style="max-width:10%; padding:5px 50px 0px 20px;filter:grayscale(100%)">


<ul style="float:right;font-size:24px;text-align: right; vertical-align: middle; padding: 10px 40px 0px; margin-bottom:0px;">

  <li style="display: inline; padding-left: 25px"><a href="#">
  <span onclick="openNav()"><span onclick="openNav()"><strong style="font-size:28px">Find a job</strong></span></span></a></li>

  <li style="display: inline; padding-left: 25px"><a href="sign-in">Sign in or create an account</a></li>

  <li style="display: inline; padding-left: 25px"><a href="#">Cymraeg</a></li>
</ul>
</div>


<style>


.govuk-width-container {max-width:none;}
.govuk-main-wrapper {padding-top:0px;}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  color: black;}

.main-image {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-color: transparent;
}

.main-image-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
}



/* The side navigation menu */
.sidenav {
  height: 90%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  font-color:#ffffff;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav h1 {
  padding: 0px 8px 0px 32px;
  margin-bottom:0px;
  margin-block-end:0em;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav label {
  padding: 10px 8px 8px 32px;
  margin-top:0px;
  margin-bottom:0px;
  margin-block-end:0em;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav select {
  padding: 10px 8px 8px 5px;
  margin-left:32px;
  margin-top:0px;
  margin-bottom:0px;
  margin-block-end:0em;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  width:60%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.govuk-button:focus:not(:active):not(:hover) {
  color: #ffffff;
}

</style>

{% endblock %}

{% block content %}


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <h1>What</h1>
  <input class="govuk-input govuk-!-width-three-quarters" id="what" name="what" type="text" style="margin-left:32px" placeholder="Enter job title, skill or keywords">
  <h1>Where</h1>
  <input class="govuk-input govuk-!-width-three-quarters" id="where" name="where" type="text" style="margin-left:32px" placeholder="Enter a postcode, town or region">
  <br><br><br>
  <h1>Filters</h1>
  <br>
  <div class="govuk-form-group">
    <label for="type">
      Distance to search
    </label>
    <select id="type" name="type">
      <option value="published" selected>Only the area chosen</option>
      <option value="updated">Within 10 miles</option>
      <option value="views">Within 30 miles</option>
      <option value="comments">Within 50 miles</option>
      <option value="comments">Anywhere in the UK</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <label for="type">
      Job type
    </label>
    <select id="type" name="type">
      <option value="published" selected>Permanent</option>
      <option value="updated">Contract</option>
      <option value="views">Short term cover</option>
      <option value="comments">Voluntary</option>
      <option value="comments">Apprenticeship</option>
    </select>
  </div>
  <div class="govuk-form-group">
    <label for="salary">
      Minimum salary
    </label>
    <select id="salary" name="salary">
      <option value="published" selected>No minimum</option>
      <option value="updated">£12,000</option>
      <option value="views">£20,000</option>
      <option value="comments">£40,000</option>
      <option value="comments">£70,000</option>
    </select>
  </div><div class="govuk-form-group">
    <label for="remote">
      Remote working
    </label>
    <select id="remote" name="remote">
      <option value="published" selected>Yes</option>
      <option value="updated">No</option>
      <option value="views">Hybrid</option>
    </select>
  </div><div class="govuk-form-group" style="margin-bottom:0px">
    <label for="type">
      Date job was posted
    </label>
    <select id="type" name="type">
      <option value="published" selected>In last 7 days</option>
      <option value="updated">In last 2 weeks</option>
      <option value="views">In last month</option>
      <option value="comments">Any time</option>
    </select>
  </div><br>
  <button class="govuk-button" data-module="govuk-button" style="background-color:#28A197; margin-left:32px">
    Search
  </button>

  </div>




  <div class="govuk-width-container">
<div class="govuk-grid-row">
    <div id="box-search">
          <div class="main-image text-center">
              <img src="public/images/woman-laptop.jpeg" style="max-width:100%;" alt="">
              <div class="main-image-text" style="background: rgba(0, 0, 0, .5);">
                  <h1 class="govuk-heading-xl" style="color:#ffffff;opacity: 1; margin:50px 0px 20px 50px">Flexible.<br> Diverse.<br> Rewarding.</h1>
                  <h1 class="govuk-heading-xl" style="float:right;color:#ffffff;opacity: 1;margin:0px 50px 30px 0px">Your Civil Service.</h1>
              </div>
          </div>
      </div>
</div>

<div class="govuk-width-container" style="max-width:90%;margin-left:auto;margin-right:auto; margin-top:100px">
  <div class="govuk-grid-row">
    <p style="font-size:4em; font-weight:bold; text-align:center; padding-bottom:40px">What we offer</p>
    <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
      <p style="font-size:2em; font-weight:bold; margin-bottom:3px">An incredible range of jobs</p>
      <p style="font-size:1.7em;">You could be working as a vet, a customer service adviser, a weapons engineer, a marine biologist or a web developer, to name a few. Whatever you do, and wherever you work, a job in the Civil Service is an opportunity to make a difference and be recognised for your efforts.</p>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">See the jobs and professions available to you</a>
    </div>
    <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
      <p style="font-size:2em; font-weight:bold; margin-bottom:3px">A great work-life balance</p>
      <p style="font-size:1.7em;">Flexible, hybrid and part-time working. Job sharing, at least 25 days annual leave and family-focused support including maternity, paternity and adoption leave. Even special leave for emergencies or caring. The Civil Service can help you work in a way that works for you.</p>
      <a href="https://www.civil-service-careers.gov.uk/civil-service-employee-benefits/" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Find out more</a>
    </div>
    <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
      <p style="font-size:2em; font-weight:bold; margin-bottom:3px">A diversive and inclusive team</p>
      <p style="font-size:1.7em;">The Civil Service is a modern and diverse workplace committed to ensuring equality. We embrace the different backgrounds and opinions our staff bring, using them to promote fairness within our organisations and to better serve our communities.</p>
      <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1069072/civil-service-diversity-inclusion-strategy.pdf" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">See how the Civil Service plans to make everyone feel welcome</a>
    </div>

  </div>
  <div class="govuk-grid-row" style="padding-top:80px;">
    <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
      <p style="font-size:2em; font-weight:bold; margin-bottom:3px">An excellent pension</p>
      <p style="font-size:1.7em;">Join one of the best workplace pension schemes in the UK public sector. For every 5.45% you contribute, the Civil Service will add a further 27.1%.</p>
      <a href="https://omny.fm/shows/civil-service-pensions-podcast/pensions-101-whats-so-good-about-the-civil-service" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Listen to our podcast on what's so good about the Civil Service pension</a>
    </div>
      <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
        <p style="font-size:2em; font-weight:bold; margin-bottom:3px">Opportunities to develop and thrive</p>
        <p style="font-size:1.7em;">We want to empower you to meet your career goals. You can get comprehensive support through training, mentoring, secondments and talent programmes like Fast Stream.</p>
        <a href="https://www.civil-service-careers.gov.uk/civil-service-employee-benefits/" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">See how we can help you achieve your career dreams</a>
      </div>
      <div class="govuk-grid-column-one-third" style="padding-left:30px;padding-right:30px">
        <p style="font-size:2em; font-weight:bold; margin-bottom:3px">Wellbeing support in and out of work</p>
        <p style="font-size:1.7em;">We help you feel healthy and supported, by giving you access to discount gym memberships, retail discounts, season ticket and bike loans, and support during any times of stress or difficulty.</p>
        <a href="https://www.civil-service-careers.gov.uk/civil-service-employee-benefits/" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Find out more about the help we have for you</a>
      </div>
    </div>
</div>

<div class="govuk-width-container" style="max-width:90%;margin-left:auto;margin-right:auto; margin-top:80px">
    <div class="govuk-grid-row" style="background-color:#e1e0de;">
      <div class="govuk-grid-column-one-third" style="padding: 70px 20px 30px 20px">
        <p style="font-size:3em; font-weight:bold">There's no ordinary career in the Civil Service.</p>
        <p style="font-size:2em; font-weight:bold">Because there's no such thing as an ordinary civil servant.</p><br>
        <button id="play-cs-video-where-career" class="govuk-button" data-module="govuk-button" style="background-color:#28A197;font-size:2em;font-weight:bold;box-shadow:none;">
          Find out more in our short video
        </button><br>
        <a href="https://www.civil-service-careers.gov.uk/" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Explore careers in the Civil Service</a>
      </div>
      <div class="govuk-grid-column-two-thirds" style="padding: 20px 20px 20px 0px">
        <video id="videoWhereCareer" width="100%" controls>
          <source src="public/images/cs-video-where-career.mp4" type="video/mp4">
        </video>
      </div>
    </div>
</div>

<div class="govuk-width-container" style="max-width:90%;margin-left:auto;margin-right:auto; margin-top:80px">
    <div class="govuk-grid-row" style="background-color:#e1e0de;">
      <div class="govuk-grid-column-one-third" style="padding: 70px 20px 30px 20px">
        <p style="font-size:3em; font-weight:bold">Setting a new standard for diversity and inclusion.</p>
        <p style="font-size:2em; font-weight:bold">Because only a diverse and inclusive Civil Service can help the UK's society of today.</p><br>
        <button id="play-cs-video-inclusion" class="govuk-button" data-module="govuk-button" style="background-color:#28A197;font-size:2em;font-weight:bold;box-shadow:none;">
          Find out more in our video
        </button><br>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1069072/civil-service-diversity-inclusion-strategy.pdf" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Making a Civil Service for everyone</a>
      </div>
      <div class="govuk-grid-column-two-thirds" style="padding: 20px 20px 20px 0px">
        <video id="videoInclusion" width="100%" controls>
          <source src="public/images/cs-video-inclusion.mp4" type="video/mp4">
        </video>
      </div>
    </div>
</div>


<div class="govuk-width-container" style="max-width:90%;margin-left:auto;margin-right:auto; margin-top:100px">
  <div class="govuk-grid-row">
    <p style="font-size:4em; font-weight:bold; text-align:center; padding-bottom:40px">How to join the Civil Service</p>
    <div class="govuk-grid-column-one-quarter" style="padding-left:30px;padding-right:30px">
      <p style="font-size:1.7em; font-weight:bold; margin-bottom:10px">Choose the right job</p>
      <img src="public/images/apprentice.jpeg" style="max-width:100%;" alt="">
      <p style="font-size:1.5em;">There's so many possibilities in the Civil Service. We'll help you find some professions that you'd like to apply for.</p>
      <a href="#" style="font-size:1.5em;">See what professions are available</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:30px;padding-right:30px">
      <p style="font-size:1.7em; font-weight:bold; margin-bottom:10px">Apply for a job</p>
      <img src="public/images/apply-for-job.jpeg" style="max-width:100%;" alt="">
      <p style="font-size:1.5em;">We'll show you step-by-step how to apply, from finding the ideal vacancy to submitting the information we need about you.</p>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Step-by-step guide to applying</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:30px;padding-right:30px">
      <p style="font-size:1.7em; font-weight:bold; margin-bottom:10px">Get assessed</p>
      <img src="public/images/get-assessed.jpeg" style="max-width:100%;" alt="">
      <p style="font-size:1.5em;">How we assess your application, including the things we look for and how to handle an interview.</p>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">See how your application is assessed</a>
    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:30px;padding-right:30px">
      <p style="font-size:1.7em; font-weight:bold; margin-bottom:10px">Join your team</p>
      <img src="public/images/join-team.jpeg" style="max-width:100%;" alt="">
      <p style="font-size:1.5em;">What to expect when you become a civil servant, from accepting our offer to your first day in your new team.</p>
      <a href="#" class="govuk-link govuk-link--no-visited-state" style="font-size:1.5em;">Becoming a Civil Servant</a>
    </div>

  </div>

<div class="govuk-width-container" style="max-width:90%;margin-top:80px">
    <div class="govuk-grid-row" style="padding-top:130px; max-width:50%; margin-left:auto;margin-right:auto">
      <div style="padding-right:30px; padding-bottom:0px;margin-bottom:0px">
        <a href="https://www.civil-service-careers.gov.uk/career-matcher/">
        <button class="govuk-button" data-module="govuk-button" style="background-color:#aa1252; margin-left:20px; width:100%; font-weight:bold; font-size:2em; border-radius:15px">
        Find the right career for me
        </button>
        </a>
      </div>
      <div style="padding-right:30px">
        <p style="font-size:1.7em; margin-left:20px">With so many Civil Service careers to choose from, let us help you find the perfect match - just by answering a few simple questions on our Career Matcher tool.</p><br>
      </div>
    </div>
  <div class="govuk-width-container" style="max-width:90%;margin-top:80px">
      <p style="font-size:3em; font-weight:bold; text-align:center; padding-bottom:40px">Help me:</p>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter" style="padding-right:30px">
        <a href="#" style="font-size:2em;">See how the Fast Track programme can help me</a><br>
      </div>
      <div class="govuk-grid-column-one-quarter" style="padding-right:30px">
        <a href="#" style="font-size:2em;">See how the Civil Service welcomes veterans</a><br>
      </div>



      <div class="govuk-grid-column-one-quarter" style="padding-right:30px">
        <a href="#" style="font-size:2em;margin-bottom:30px">Find out about apprenticeships</a><br>
      </div>
      <div class="govuk-grid-column-one-quarter" style="padding-right:30px">
        <a href="#" style="font-size:2em;">Find out if prison leavers can become civil servants</a><br>
      </div>

    </div><br><br><br>
</div>
</div>

  <footer class="govuk-footer" role="contentinfo" style="background-color:#eaeff3;padding:20px 20px 0px 20px">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41">
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>





<script>
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "500px";
  document.getElementById("main").style.marginLeft = "0px";

}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

var playButton = document.getElementById("play-cs-video-where-career");

// Event listener for the play/pause button
playButton.addEventListener("click", function() {
  if (videoWhereCareer.paused == true) {
    // Play the video
    videoWhereCareer.play();

    // Update the button text to 'Pause'
    playButton.innerHTML = "Pause";
  } else {
    // Pause the video
    videoWhereCareer.pause();

    // Update the button text to 'Play'
    playButton.innerHTML = "Play";
  }
});

var playButton2 = document.getElementById("play-cs-video-inclusion");

// Event listener for the play/pause button
playButton2.addEventListener("click", function() {
  if (videoInclusion.paused == true) {
    // Play the video
    videoInclusion.play();

    // Update the button text to 'Pause'
    playButton2.innerHTML = "Pause";
  } else {
    // Pause the video
    videoInclusion.pause();

    // Update the button text to 'Play'
    playButton2.innerHTML = "Play";
  }
});
</script>



  {% endblock %}
