{% extends "layouts/main.html" %}

{% block pageTitle %}
Online tests result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

<form class="form" action="task-list?pass=true" method="post">
<div class="govuk-grid-row">
  {% if data['dept'] == "Department for Education" %}
  <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
  {% elif data['dept'] == "Home Office" %}
  <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
  {% else %}
  <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      <strong>{{ data['searchwhat'] | capitalize}}</strong> {{ data['dept']}}</span>
      <h1 class="govuk-heading-xl">Judgement test</h1>
      <h2 class="govuk-heading-l">Your test result</h2>
      <p class="govuk-body-m">Thank you for completing the Civil Service Judgement Test.</p>
      <p class="govuk-body-m">Congratulations you passed the test.
      <p class="govuk-body-m">For more information on your performance, you can view your <a href="#">test report</a>.</p>

      <button class="govuk-button govuk-!-margin-top-6" style="max-width:100%;min-width:25%" data-module="govuk-button">Continue with application</button>
</form>
    </div>
  </div>


  {% endblock %}
