{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Delivery Manager' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'DWP' %}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}<br><br>
      <form action="offer-option-confirm" method="post">
        <span class="govuk-caption-l">
          <strong style="padding-right:20px">{{ Job }}</strong> {{ Dept }}</span><br>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to {{data['provisional-offer']}}?
            </h1>
          </legend><br>
          {% if data ['provisional-offer'] == 'decline the provisional offer'%}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              If you select yes, the provisional offer will be withdrawn. You will not be able to reverse this decision.
            </strong>
          </div>
          {% endif %}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

              <div class="govuk-radios" data-module="govuk-radios">

              {% if data ['provisional-offer'] == 'decline the provisional offer'%}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="provisional-offer-confirm" type="radio" value="yes~provisional-offer-confirmation" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Why do you want to decline the offer?
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
              {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="provisional-offer-confirm" type="radio" value="yes~provisional-offer-confirmation">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  Yes
                </label>
              </div>
              {% endif %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="provisional-offer-confirm" type="radio" value="no~provisional-offer">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No - go back to my options
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

        </fieldset>
      </div>
      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
      </div>
  <div class="govuk-grid-column-one-third">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}
    </div>
  </div>

{% endblock %}
