{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}

<br>
{{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

{% endblock %}

{% block content %}
{% set defaultJob = 'Strategy Advisor' %}
{% set defaultDept = 'DWP' %}

<style>

.nav-right{
  float:right;
}
</style>



  <div class="introduction-page" style="margin-top:50px" >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if data['cookies']=="no"%}
        <h1 class="govuk-heading-m">Sign in or create an account</h1>
        {% else %}
        <h1 class="govuk-heading-m">Sign in</h1>
        {% endif %}

        {% if data['cookies']=="no"%}
        <div class="govuk-inset-text"  >
          Sign in with your details or enter an email address and password to create an account.
        </div>
        {% endif %}
      </div>
    </div>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <div class="govuk-form-group">
          <label class="govuk-label" for="email"  >
            Email address
          </label>
          {% if data['cookies']=="no"%}
            <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
          {% else %}
            <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="lsmith@yahoo.com">
          {% endif %}
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password"  >
            Password
          </label>
          {% if data['cookies']=="no"%}
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="password"><br><br>
          {% else %}
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="password" value="*********"><br><br>
          {% endif %}
          <p class="govuk-body-s"><a href="#"  >Forgotten your password?</a></p>
        </div>



            <form action="check-you-can-apply" method="post" novalidate>
              <button class="govuk-button" data-module="govuk-button"   >
                Sign in
              </button>


        <br><br><br>
        <h2 class="govuk-heading-s">Sign in with an existing account</h2>
        {% if data['cookies']=="yes"%}
          <img src="public/images/google-button.png" style="max-width:20.5%"><br>
          <img src="public/images/linkedin-button.png" style="max-width:20%;padding-left:2px">
        {% else %}
            <img src="public/images/google-button.png" style="max-width:20.5%"><br>
            <img src="public/images/linkedin-button.png" style="max-width:20%;padding-left:2px">
        {% endif %}
      </div>
      </div>
    </div>
  <br>

{% endblock %}
