{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<style>
.govuk-tag {
  text-transform:none;
  font-size:1.1875rem;
  font-weight:400;
  background-color:#bbd4ea;
  color:#0c2d4a
}

.govuk-summary-list__key{
  width:15%;
}

.govuk-summary-list__actions{
  width:10%;
}
</style>


{% if data['dept'] == "Department for Education" %}
<img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
{% elif data['dept'] == "Home Office" %}
<img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
{% else %}
<img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="padding-right:10px">

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Project Lead' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'Defra' %}
    {% endif %}

    <h1 class="govuk-heading-xl">Your application for {{ Job }}</h1>



<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">

  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Application is ready to submit
    </h3>
    <p class="govuk-body">You completed your application form. You can review it before you submit it.</p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
         
        Remember to submit your application before the deadline on 11:55pm on 22 February 2023.
      </strong>
    </div>
    <p class="govuk-body">If you do not wish to review your application you can proceed directly to the declaration page.</p>
    <form class="form" action="declaration" method="post">
    <button class="govuk-button govuk-!-margin-top-1 govuk-!-margin-left-0 govuk-!-margin-bottom-3" style=";max-width:100%;min-width:25%" data-module="govuk-button">Skip the review</button>
  </form>
  </div>
</div>



    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:20px">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="padding-right:50px;"><br>


              <h1 class="govuk-heading-l">Review your application</h1>
              <h2 class="govuk-heading-m">Employment history</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong>Encomo Oils</strong><br>
                    Project Manager (October 2022 - present)<br><br>
                    <strong>Encomo Oils</strong><br>
                    Assistant Project Manager (January 2020 - October 2022)<br><br>
                    <strong>Rural Payments Service</strong><br>
                    Project Lead (August 2005 - January 2020)<br><br>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
                
              </dl>
              <h2 class="govuk-heading-m">Personal statement</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis justo euismod, pretium lorem sed, condimentum lectus. Maecenas quis volutpat eros. Mauris ac mattis neque. Duis vulputate id quam vel tincidunt. Pellentesque sed mattis mi. Duis tristique ullamcorper fermentum. Nulla et arcu in lorem egestas finibus in vel dolor. Etiam eget diam vitae nulla mattis facilisis a vitae mi. Fusce et diam urna.<br><br>

                    Proin facilisis est et risus convallis imperdiet. Aliquam eget pharetra tortor. Cras malesuada felis dolor, quis tristique ex placerat in. Nunc volutpat, nisl et porta consequat, nibh turpis faucibus dui, ut volutpat augue mi sed urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi a justo eu enim volutpat fermentum. Morbi non massa lorem. Proin feugiat dui ac augue facilisis, eu luctus enim efficitur. Quisque suscipit faucibus augue, quis pharetra erat ullamcorper vitae. Suspendisse fermentum, arcu vitae pharetra luctus, leo arcu malesuada tellus, eget efficitur mi sapien in sem. Sed pharetra sit amet lacus sed maximus. Sed sagittis porttitor mauris sed sodales. Integer luctus, nisi a aliquam laoreet, lectus ligula eleifend orci, eu auctor eros enim et metus. Praesent sit amet cursus velit. Suspendisse ullamcorper nisl in nibh venenatis, vitae vehicula diam porttitor. Nulla facilisi.<br><br>
                    
                    Morbi nisl urna, venenatis in mattis suscipit, hendrerit eget turpis. Sed eu lectus vitae mauris feugiat ultrices. Aenean accumsan ullamcorper varius. Duis elit enim, ultrices sit amet suscipit cursus, venenatis eu ipsum. Nulla egestas tristique diam et finibus. Nunc consectetur rutrum est eu maximus. Morbi purus leo, fermentum id sodales vitae, luctus sit amet sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi nisi sem, tristique vel gravida sed, mollis sit amet lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam placerat et ante auctor viverra.<br><br>
                    
                    Donec convallis efficitur felis, in vulputate nulla elementum in. Duis auctor tincidunt leo, non sodales arcu fermentum vitae. Duis commodo luctus suscipit. Nulla et tortor et ipsum convallis mattis. Vestibulum libero magna, tristique nec ligula eget, laoreet tempus risus. Integer eget dolor non ex ultricies porttitor. Quisque pellentesque lectus semper magna vestibulum viverra. Fusce eget felis egestas, luctus est eu, tincidunt dolor. Etiam convallis magna ex, vel pulvinar nibh egestas in. Praesent dapibus fermentum turpis, eget sagittis sapien dignissim quis.<br><br>
                    
                    Ut at nulla molestie, lobortis nisl nec, dictum elit. Integer augue sem, efficitur et arcu nec, fermentum commodo dolor. Ut nec sem consectetur, consequat ligula non, hendrerit nunc. Duis elementum viverra enim. Duis suscipit velit erat. Integer gravida ac massa vel tempor. Donec efficitur massa vel vulputate pharetra. Sed dignissim leo quis faucibus vehicula. Morbi feugiat nisi vel sapien pellentesque ultricies vel sollicitudin odio. Aenean sit amet fermentum tellus, et feugiat felis. Vestibulum bibendum egestas lectus, a ullamcorper mi sagittis vel. Vestibulum non dapibus eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;<br><br>
                    
                    Morbi maximus nisi quis posuere condimentum. Suspendisse vulputate pharetra sapien interdum volutpat. Vestibulum fringilla, eros sed porttitor tincidunt, ex sapien convallis tellus, vel eleifend quam nisl sit amet urna. Etiam malesuada aliquet lorem in ultricies. Integer eget hendrerit mi. Curabitur fermentum nibh lorem, a vestibulum velit ullamcorper non. Etiam mollis pellentesque ipsum ac fermentum. Vivamus dictum et mauris sit amet venenatis. Vestibulum nec venenatis dolor. Ut ullamcorper tempor lectus, a iaculis felis laoreet a. Pellentesque id dolor orci. Duis placerat arcu lacus, et finibus quam interdum vitae.<br><br>
                    
                    Mauris condimentum elit nisi. Praesent congue eu ligula vitae faucibus. Sed cursus sollicitudin mauris, vestibulum laoreet leo volutpat at. Nullam blandit quam in nulla dapibus pretium. Aliquam egestas, urna eu consequat molestie, turpis dolor pretium eros, aliquam imperdiet lacus nunc nec nulla. Vivamus quis varius purus. Etiam vitae tristique libero. Integer lobortis egestas nibh et maximus. Donec eu mi at turpis elementum aliquam in non ipsum. Vivamus erat risus, tristique in magna ut, tristique ultricies sapien. Curabitur in ipsum vitae erat blandit porttitor. Nunc lacinia nec nibh vitae pharetra. Aenean scelerisque est ac feugiat pretium. Etiam in eros mollis, finibus tortor eget, viverra elit. Phasellus ut arcu at elit bibendum ultricies. Sed sagittis augue eu euismod suscipit.<br><br>
                    
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque aliquet quam tellus, sit amet tempus magna tempus faucibus. Praesent lobortis tincidunt libero, pulvinar ultrices quam sagittis sit amet. Aenean ut lorem vestibulum, sagittis arcu ut, vestibulum risus. Quisque vulputate molestie consequat. Sed convallis dui mauris, a rutrum nisl blandit a. Donec sed porttitor erat. Sed sit amet nisi libero. Nunc vestibulum.

                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
                  </dd>
                </div>
                
              </dl>
              <h2 class="govuk-heading-m">Behaviour questions</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row" style="border-bottom:none">
                  <dt class="govuk-summary-list__key">
                    Describe an occasion when you did this and that
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Mauris condimentum elit nisi. Praesent congue eu ligula vitae faucibus. Sed cursus sollicitudin mauris, vestibulum laoreet leo volutpat at. Nullam blandit quam in nulla dapibus pretium. Aliquam egestas, urna eu consequat molestie, turpis dolor pretium eros, aliquam imperdiet lacus nunc nec nulla. Vivamus quis varius purus. Etiam vitae tristique libero. Integer lobortis egestas nibh et maximus. Donec eu mi at turpis elementum aliquam in non ipsum. Vivamus erat risus, tristique in magna ut, tristique ultricies sapien. Curabitur in ipsum vitae erat blandit porttitor. Nunc lacinia nec nibh vitae pharetra. Aenean scelerisque est ac feugiat pretium. Etiam in eros mollis, finibus tortor eget, viverra elit. Phasellus ut arcu at elit bibendum ultricies. Sed sagittis augue eu euismod suscipit.<br><br>
                    
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque aliquet quam tellus, sit amet tempus magna tempus faucibus. Praesent lobortis tincidunt libero, pulvinar ultrices quam sagittis sit amet. Aenean ut lorem vestibulum, sagittis arcu ut, vestibulum risus. Quisque vulputate molestie consequat. Sed convallis dui mauris, a rutrum nisl blandit a. Donec sed porttitor erat. Sed sit amet nisi libero. Nunc vestibulum.
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div><br><br>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Describe something else that you sorted out really well
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Mauris condimentum elit nisi. Praesent congue eu ligula vitae faucibus. Sed cursus sollicitudin mauris, vestibulum laoreet leo volutpat at. Nullam blandit quam in nulla dapibus pretium. Aliquam egestas, urna eu consequat molestie, turpis dolor pretium eros, aliquam imperdiet lacus nunc nec nulla. Vivamus quis varius purus. Etiam vitae tristique libero. Integer lobortis egestas nibh et maximus. Donec eu mi at turpis elementum aliquam in non ipsum. Vivamus erat risus, tristique in magna ut, tristique ultricies sapien. Curabitur in ipsum vitae erat blandit porttitor. Nunc lacinia nec nibh vitae pharetra. Aenean scelerisque est ac feugiat pretium. Etiam in eros mollis, finibus tortor eget, viverra elit. Phasellus ut arcu at elit bibendum ultricies. Sed sagittis augue eu euismod suscipit.<br><br>
                    
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque aliquet quam tellus, sit amet tempus magna tempus faucibus. Praesent lobortis tincidunt libero, pulvinar ultrices quam sagittis sit amet. Aenean ut lorem vestibulum, sagittis arcu ut, vestibulum risus. Quisque vulputate molestie consequat. Sed convallis dui mauris, a rutrum nisl blandit a. Donec sed porttitor erat. Sed sit amet nisi libero. Nunc vestibulum.
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
                
              </dl>
              <h2 class="govuk-heading-m">Preferences</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Choice of work location
                  </dt>
                  <dd class="govuk-summary-list__value">
                    London (first choice - no other choices given)
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                  </dd>
                </div>
                
                
              </dl>
              <h2 class="govuk-heading-m">Sign the declaration to submit your application</h2>
              <p class="govuk-body">To submit your application you must read and sign the declaration.</p>
              <form class="form" action="declaration" method="post">
                <button class="govuk-button govuk-!-margin-top-1 govuk-!-margin-left-0 govuk-!-margin-bottom-3" style=";max-width:100%;min-width:25%" data-module="govuk-button">Sign the declaration</button>
              </form>
          
            </div>
          

     
    </div>
    
  </div>


  {% endblock %}
