{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% if data['signedin'] == "true" %}
{% include "includes/header-signed-in.html" %}
{% elif data['signedin'] == "false" %}
{% include "includes/header-home.html" %}
{% else %}
{% include "includes/header-home.html" %}
{% endif %}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

{% if data['file'] | length > 1 %}
{% set cvurl = "cv-existing" %}
{% elif data['file-upload-1'] | length > 1 %}
{% set cvurl = "cv-uploaded" %}
{% else %}
{% set cvurl = "cv" %}
{% endif %}


{% if data['dept'] == "Department for Education" %}
<img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
{% elif data['dept'] == "Home Office" %}
<img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
{% else %}
<img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" style="padding-right:10px">
    <span class="govuk-caption-l">{{ data['dept']}}</span>
    <h1 class="govuk-heading-xl">{{ data['searchwhat'] | capitalize}}</h1>


    <p class="govuk-body govuk-!-margin-bottom-3">Complete the application for {{ data['searchwhat'] | capitalize}}.<br>
      Throughout your application you can leave and return to complete at any time.</p>
      <p class="govuk-body govuk-!-margin-bottom-3">If you need a reasonable adjustment, you can contact our recruitment team.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must submit your application before 11:55 PM on 22nd February 2023.
        </strong>
      </div>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>
    </div>
    <div class="govuk-grid-column-one-quarter" style="padding-left:20px">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="padding-right:50px;">



      <ol class="govuk-prototype-kit-task-list" style="border-top:5px solid #1D70B8;padding-top:20px">
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">1. </span> Eligibility
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="check-you-can-apply" aria-describedby="eligibility-status">
                  Check you can apply
                </a>
              </span>
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Online tests
          </h2>
          <p class="govuk-body govuk-!-margin-left-6">For this job role, you must pass 3 online tests. You cannot progress through your application until you have completed each test.</p>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="online-tests" aria-describedby="company-information-status">
                  Judgement test
                </a>
              </span>

              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}



            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Numeric test
                </a>
              </span>
              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  Work strengths test
                </a>
              </span>
              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">3. </span> CV and personal statement
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="{{ cvurl }}" aria-describedby="company-information-status">
                  CV
                </a>
              </span>

              {% if data['cv'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="personal-statement" aria-describedby="contact-details-status">
                  Personal statement
                </a>
              </span>

              {% if data['ps'] == "true"  %}
              <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>

              {% elif data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% elif data['cv'] == "true" %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
          </ul>
        </li>
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Assessment questions
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Behaviour questions
                </a>
              </span>

              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                Technical skills
                </a>
              </span>
              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}

            </li>
          </ul>
        </li>
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">5. </span> Background information questions
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">Personal information</a>
              </span>
              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}



            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">Preferences</a>
              </span>

              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}



            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">Diversity and Inclusion</a>
              </span>

              {% if data['pass'] == "true"  %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list--bullet-" style="padding-left:10px">
        <li><h2 style="padding-left:5px;border-top:5px solid #1D70B8;padding-top:20px" class="govuk-heading-m">Related content</h2></li>

        <li><p style ="border-left:0px solid #1d70b8; padding-left:5px" class="govuk-body-m"><a href="job-ad-full">View {{ data['searchwhat'] | capitalize}} advert</a></p></li>
        <li><p style ="border-left:0px solid #1d70b8; padding-left:5px" class="govuk-body-m"><a href="#">How to answer behaviour questions</a></p></li>
        <li><p style ="border-left:0px solid #1d70b8; padding-left:5px" class="govuk-body-m"><a href="#">Success profile guidiance</a></p></li>
        <li><p style ="border-left:0px solid #1d70b8; padding-left:5px" class="govuk-body-m"><a href="#">Preparing for the online tests</a></p></li>

      </ul>
    </div>
  </div>


  {% endblock %}
