{% extends "layouts/main.html" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Civil Service Jobs",
    serviceUrl: "#",
    navigation: [
      {
        href: "portal-interview",
        text: "Go back to my dashboard",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block content %}

{% if data['dept'] == "Department for Education" %}
{% set salary = "£38,995" %}
{% set locs = "Exeter, Manchester, "+data['searchwhere'] | capitalize %}
{% elif data['dept'] == "Cabinet Office" %}
{% set salary = "£41,550" %}
{% set locs = "Glasgow, "+data['searchwhere'] | capitalize+", Cardiff" %}
{% elif data['dept'] == "Home Office" %}
{% set salary = "£44,900" %}
{% set locs = "London, "+data['searchwhere'] | capitalize+", Bristol" %}
{% endif %}

<script>
  function showDiv(div){
    document.getElementById(div).style.display = 'block';
  }

  function hideDiv(div){
    document.getElementById(div).style.display = 'none';
  }
</script>



  <div class="govuk-grid-row">
    {% if data['dept'] == "Department for Education" %}
    <img src="/public/images/dfe-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Department for Education logo">
    {% elif data['dept'] == "Home Office" %}
    <img src="/public/images/ho-logo.png" style="min-width:70px;max-width:165px;float:right" alt="Home Office logo">
    {% else %}
    <img src="/public/images/dwp-logo.jpeg" style="min-width:70px;max-width:165px;float:right" alt="Cabinet Office logo">
    {% endif %}

    {% if data['searchwhat'] %}
      {% set Job = data['searchwhat'] %}
    {% else %}
      {% set Job = 'Delivery Manager' %}
    {% endif %}

    {% if data['dept'] %}
      {% set Dept = data['dept'] %}
    {% else %}
      {% set Dept = 'DWP' %}
    {% endif %}

    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
              }) }}<br><br>
      <form action="" method="post" novalidate>
      <span class="govuk-caption-l">
        <strong style="padding-right:20px">{{ Job }}</strong> {{ Dept }}</span><br>
        <h1 class="govuk-heading-l">
          Interview feedback
        </h1>

        <p class="govuk-body-m">Thank you for applying for the role of Delivery Manager at the Department of Work and Pensions.</p>
        <p class="govuk-body-m">Unfortunately, you were not successful at interview. We hope this feedback will help you apply for Civil Service jobs in the future.</p>

        <h1 class="govuk-heading-m">
          Your total score
        </h1>

        <p class="govuk-body-m">You scored 22 out of 56.</p>

        <p class="govuk-body-m">For help to improve your scores, you can review information about:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li> <a href="">Civil Service Behaviours</a> - the actions and activities you do for effective performance </li>
          <li><a href="">Civil Service Success Profiles</a> - what you need to demonstrate to be successful</li>
        </ul><br>

        <h2 class="govuk-heading-m">Your feedback</h2>
        <p class="govuk-body">"We were impressed with your structured and methodical approach. Our environment right now is highly ambiguous and fast-paced, and for this particular phase, we've prioritised a candidate who has a proven track record of thriving in that kind of chaotic, 'build-it-as-you-go' setting. It was less about capability and more about matching the current state of the team."</p>

        <h2 class="govuk-heading-m">
         Your score breakdown
        </h2>

        <h3 class="govuk-heading-s">Behaviour scores</h3>

        <h3 class="govuk-heading-s">
          Changing and improving
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence</p>

        <h3 class="govuk-heading-s">
          Leadership
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence</p>

        <h3 class="govuk-heading-s">
          Delivering at pace
        </h3>
        <p class="govuk-body-m">You scored 4 out of 7.</p>
        <p class="govuk-body-m">Acceptable demonstration - Adequate positive evidence
</p>

        <h3 class="govuk-heading-s">
          Working together
        </h3>
        <p class="govuk-body-m">You scored 5 out of 7.</p>
        <p class="govuk-body-m">Good demonstration - Substantial positive evidence</p>
        <br><br>

        <h3 class="govuk-heading-s">
          Experience scores
        </h3>

        <h3 class="govuk-heading-s">
          Building engaging and effective relationships with stakeholders
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence</p><br>

        <h3 class="govuk-heading-s">
          Strength scores
        </h3>

        <h3 class="govuk-heading-s">
          Analytical
        </h3>
        <p class="govuk-body-m">You scored 5 out of 7.</p>
        <p class="govuk-body-m">Good demonstration - Substantial positive evidence</p>

        <h3 class="govuk-heading-s">
          Challenger
        </h3>
        <p class="govuk-body-m">You scored 3 out of 7.</p>
        <p class="govuk-body-m">Moderate demonstration - Moderate positive evidence</p>

        <h3 class="govuk-heading-s">
          Problem solver
        </h3>
        <p class="govuk-body-m">You scored 6 out of 7.</p>
        <p class="govuk-body-m">Strong demonstration -  Substantial, positive evidence and includes some evidence of exceeding expectations</p><br>

        <h2 class="govuk-heading-m">Application feedback</h2>
        <p class="govuk-body">You can view feedback from your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-list govuk-list--bullet" href="#">online tests</a>
          </li>
          <li>
            <a class="govuk-list govuk-list--bullet" href="#">application sift</a>
          </li>
        </ul>

<br></br>
<br></br>

        <div class="govuk-button-group">

          <form action="dwp-application-home" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Back to your application page
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Search for a job
          </button>
          </form>
        </div>

      </div>
    </div>



  </form>
  {% endblock %}
